<!DOCTYPE html> <!--EVITAR INUSUALIDADADES EN EL NAVEGADOR-->
{% load static %}
  <div class="w-full bg-[#ff7738] rounded-xl">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <div class="flex items-center justify-center w-full mb-4 lg:mb-0 lg:w-auto">
        <a href="#" class="flex items-center">
            <img src="{% static 'img/logo.png' %}" class="h-8 mr-3" alt="MDKJ-F" />
              <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">MDKJ-F</span>
          </a>
      </div>
      <div class="flex flex-wrap items-center justify-between w-full lg:w-auto">   
      
      <div class="flex items-center mr-4">
        <div>
            <button type="button"  id="user-menu-button"
            class="myButton block py-2 font-semibold text-sm text-white px-4 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 transition duration-300 ease-in-out focus:border focus:mt-1">
              <img class="w-5 h-5 scale-150 rounded-full border border-orange-800 inline-block mr-4" src="{{ request.user.customusergestor.foto.url }}" alt="user photo">{{ request.user.customusergestor.first_name }} {{ request.user.customusergestor.last_name }}
            </button>


            <div class="z-50 hidden mt-2 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow" id="user-dropdown">
              <div class="px-4 py-3">
                <span class="block text-sm text-gray-900 ">* {{ request.user.customusergestor.tipo_usuario }} *</span>
                <span class="block text-sm  text-gray-500 truncate ">{{ request.user.customusergestor.email }}</span>
              </div>
              <ul class="py-2" aria-labelledby="user-menu-button">
                <li>
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Perfil</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Ajustes</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Ayuda</a>
                </li>
                <li>
                    <a id="mostrarVentana" class="cursor-pointer block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
                        salir
                    </a>
                    {% include 'aside/salir.html' %}
                </li>
              </ul>
            </div>
          </div>
        </div>

        
          <button 
            onclick="onToggleMenu(this)"
            type="button" 
            class="lg:hidden items-center myButton block py-2 font-semibold text-sm text-white px-4 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1">
            <i class="fas fa-bars"></i>
          </button>

          <button 
            type="button" 
            class="hidden lg:flex items-center myButton p-2 font-semibold text-sm text-white px-4 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1">
            <i class="fas fa-question text-md"></i>
          </button>
      </div>
      </div>
    </div>
<script src="{% static 'js/aside.js' %}"></script>