<head>
    <title>Estudiantes Del Grado</title>
</head>
{% extends 'base.html' %}


{% block content %}
{% load static %}
<div class="mx-auto max-w-screen-sm text-center">
    <h2 class="lg:py-2  text-4xl tracking-tight font-bold text-gray-900 mb-8 zoom-4">ESTAS MIRANDO LOS ESTUDIANTES DE {{grado.grado_nom}}</h2>
</div> 
<div class="grid gap-6 mb-6 lg:mb-4 md:grid-cols-3 lg:grid-cols-4">

{% for estudiante in estudiantes %}
<div class="items-center bg-white border-4 border-gray-200 rounded-lg sm:flex p-4 block shadow-2xl hover:scale-105 duration-300 ease-in-out">
    <div class="block w-full">
        <h5 class="font-mono font-bold text-gray-900 text-4xl text-left">{{estudiante.first_name}} {{estudiante.last_name}}</h5>
        <img class="w-full p-4" src="{{ estudiante.foto.url }}" alt="Alumno">
        <h6 class="font-mono text-gray-900 text-1xl text-left"><b>Tipo Documento:</b> {{estudiante.tipo_documento}}</h6>
        <h6 class="font-mono text-gray-900 text-1xl text-left"><b>Numero Documento:</b> {{estudiante.numero_documento}}</h6>
        <h6 class="font-mono text-gray-900 text-1xl text-left"><b>Sexo</b>: {{estudiante.sexo}}</h6>
    </div>
</div>
{% endfor %}

</div>

{% endblock content %}  