<!DOCTYPE html> <!--EVITAR INUSUALIDADADES EN EL NAVEGADOR-->
<head>
    <title>Estudiantes Del Grado </title>
</head>
{% extends 'base.html' %}


{% block content %}
{% load static %}
<div class="mx-auto max-w-screen-sm text-center">
    <h2 class="lg:py-2  text-4xl tracking-tight font-bold text-gray-900 mb-8 zoom-4">ESTAS MIRANDO LOS ESTUDIANTES DE {{grado.grado_nom}}</h2>
</div> 


{% if estudiantes %}
<div class="grid gap-6 mb-6 lg:mb-4 md:grid-cols-3 lg:grid-cols-4">
    {% for student in estudiantes %}
    {% if student.see_notes %}
    <div class="items-center bg-white border-4 border-gray-200 rounded-lg sm:flex p-4 block shadow-2xl hover:scale-105 duration-300 ease-in-out">
    {% else %}
    <div class="items-center bg-white border-4 border-red-500 rounded-lg sm:flex p-4 block shadow-2xl hover:scale-105 duration-300 ease-in-out">
    {% endif %}

        <div class="block w-full">
            <h5 class="font-bold text-gray-900 text-4xl text-left">{{student.first_name}} {{student.last_name}}</h5>

            <div class="p-8">
                <img class="w-full rounded-full border-2 border-cyan-950" src="{{ student.photo.url }}" alt="Alumno">
            </div>

            <h6 class="text-gray-900 text-1xl text-left"><b>Tipo Documento:</b> {{student.document_type}}</h6>
            <h6 class="text-gray-900 text-1xl text-left"><b>Numero Documento:</b> {{student.document_number}}</h6>
            <h6 class="text-gray-900 text-1xl text-left"><b>Sexo</b>: {{student.gender}}</h6>
            <div class="mt-2 pt-full flex"> 
                <button class="myButton font-semibold text-white px-2 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full py-2 text-center text-lg block" onclick="mostrarVentana('Emergente', '{{student.document_number}}')">
                    MAS INFORMACION
                </button>    
            </div>

            <div class="mt-2 pt-full flex"> 
                <button class="myButton font-semibold text-white px-2 rounded-lg bg-orange-800 border-l border-r border-t border-4 border-black hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full py-2 text-center text-lg block">
                    VER NOTAS
                </button>    
            </div>
            
        </div>
    </div>

    <!--DATOS MEDICOS-->
    <div id="Emergente{{student.document_number}}" class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-gray-200 rounded-lg hidden h-[100vh] w-full VENTANA-MODAL">
        <div id="MODAL-BOX" class="flex justify-center items-center h-[100vh]">
            <div class="rounded-lg border border-black bg-white h-[90vh] w-[70%] overflow-auto">
                <div class="w-full h-12 flex items-center justify-end rounded-lg text-black pl-1">
                    <b>ESTAS VIENDO A {{student.first_name}} {{student.last_name}} ({{student.pk}})</b>
                    <button onclick="cerrarVentana('Emergente','{{student.document_number}}')" type="button">
                        <i class="fas fa-arrow-right mx-4"></i>
                    </button>
                </div>
                <div class="w-full">
                    <div class=" m-10 block">
                        <div class="p-10 block">
                            <h6 class="w-full text-center mb-6 font-bold text-4xl zoom-4">DATOS MEDICOS DE {{student.first_name}} {{student.last_name}}</h6>
                            <img class="w-[80%] lg:w-[20%] rounded-full m-auto border-2 border-cyan-950 hover:scale-110 ease-in-out duration-100" src="{{ student.photo.url }}" alt="Alumno">
                        </div>
                        <form action="{% url 'EditarVerNotasAlumnos' student.pk grado.pk %}" method="post">
                            {% csrf_token %}
                                <div class="flex items-center border p-2 border-gray-200 rounded">
                                    {{ form.see_notes }}
                                    <label for="bordered-checkbox-1" class="w-[80%]  ms-2 text-sm font-medium text-gray-900">
                                        {% if student.ver_notas %}
                                            Este estudiante PUEDE ver las notas
                                        {% else %}
                                            Este estudiante NO puede ver las notas
                                        {% endif %}
                                    </label>

                                    <div class="w-[20%] h-12">
                                        <button type="submit" class="myButton block py-2 font-semibold text-sm text-white px-4 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full h-full"><i class="fa-solid fa-rotate-right"></i></button>
                                    </div>
                                </div>
                        </form>  
                        <p><b>DESCRIPCION DEL ESTUDIANTE: </b> {{student.description}} </p>
                        <p><b>ALERGIAS: </b> {{student.allergies}} </p>
                        <p><b>CONDICIONES MEDICAS: </b> {{student.medical_conditions}} </p>
                        <p><b>MEDICAMENTOS ACTUALES: </b> {{student.current_medications}} </p>
                        <p><b>GRUPO SANGUINEO: </b> {{student.blood_group}} </p>
                        <p><b>ACUDIENTE PRINCIPAL: </b> {{student.emergency_contact_name}} </p>
                        <p><b>NUMERO DE ACUDIENTE: </b> {{student.emergency_contact_phone}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<section class="relative z-10 bg-[#ff7738] py-[120px] rounded-lg">
    <div class="container mx-auto">
       <div class="-mx-4 flex">
          <div class="w-full px-4">
             <div class="mx-auto max-w-[400px] text-center">
                <h2
                   class="mb-2 text-[50px] font-bold leading-none text-white sm:text-[80px] md:text-[100px]"
                   >
                   noo!
                </h2>
                <h4
                   class="mb-3 text-[22px] font-semibold leading-tight text-white"
                   >
                   Al parecer este grado aun no tiene alumnos
                </h4>
                <a href="{% url 'CrearAlumno' %}" class="inline-block rounded-lg border border-white px-8 py-3 text-center text-base font-semibold text-white transition hover:bg-white hover:text-black hover:cursor-pointer">
                Agregar Alumnos a este grado
                </a>
             </div>
          </div>
       </div>
    </div>
    <div
       class="absolute top-0 left-0 -z-10 flex h-full w-full items-center justify-between space-x-5 md:space-x-8 lg:space-x-14 rounded-lg"
       >
       <div
          class="h-full w-1/3 bg-gradient-to-t from-[#ffa176] to-[#ff7738] rounded-lg"
          ></div>
       <div class="flex h-full w-1/3">
          <div
             class="h-full w-1/2 hidden lg:block bg-gradient-to-b from-[#ffa176] to-[#ff7738] rounded-lg"
             ></div>
          <div
             class="h-full w-1/2 hidden lg:block bg-gradient-to-t from-[#ffa176] to-[#ff7738] rounded-lg"
             ></div>
       </div>
       <div
          class="h-full w-1/3 bg-gradient-to-b from-[#ffa176] to-[#ff7738] rounded-lg"
          ></div>
    </div>
 </section>


{% endif %}


<!--VENTANAS EMERGENTES-->
<script src="{% static 'js/ventanas/ventana_emergente_boton.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/ventanas/ventana_emergente_boton.css' %}">

{% endblock content %}  