.aumentar-5:hover{
    font-size: 70px;
    cursor:pointer;
}
.aumentar-4:hover{
    font-size: 60px;
    cursor:pointer;
}
.aumentar-3:hover{
    font-size: 50px;
    cursor:pointer;
}
.aumentar-2:hover{
    font-size: 40px;
    cursor:pointer;
}
.aumentar-1:hover{
    font-size: 30px;
    cursor:pointer;
}
*[class*="aumentar-"] {
    transition: font-size 0.3s ease;
  }
  