
<!DOCTYPE html> <!--EVITAR INUSUALIDADADES EN EL NAVEGADOR-->
<head>
    <title>Inicio - Estudiantes</title>
</head>

{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="mx-auto max-w-screen-sm text-center">
    <h2 class="lg:py-2 text-4xl tracking-tight font-bold text-gray-900">ACTIVIDADES PARA {{grado.grado_nom}} ({{grado.grado_num}})!</h2>
    <h3 class="text-xl tracking-tight text-gray-900"><span class="font-bold">MATERIA: </span>{{materia.titulo1}}</h3>
    <h3 class="text-xl tracking-tight text-gray-900 mb-8"><span class="font-bold">ACTIVIDAD: </span>{{actividad.titulo}}</h3>
</div>

<div class="w-full p-4 border border-orange-400 rounded-xl">
    <h4 class="font-bold">{{actividad.titulo}}</h4>
    <hr>
    <p>{{actividad.descripcion}}</p>
</div>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class=" grid md:gap-6 lg:gap-6 mb-2 md:grid-cols-2">
        <div>
            <label for="nombre" class="block text-xl font-medium text-gray-900">Titulo de la actividad </label>
            {{form.nombre}}
        </div>
        <div>
            <label for="descripcion" class="block text-xl font-medium text-gray-900">descripcion</label>
            {{form.descripcion}}
        </div>
        <div>
            <label for="descripcion" class="block text-xl font-medium text-gray-900">Porcentaje</label>
            {{form.archivo}}
        </div>
    <div class="p-6">
        <button type="submit" id="myButton" class="block py-2 font-semibold text-xl text-white px-4 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full">SUBIR</button>
    </div>
</form>



{% endblock content %}  
