# .gitignore

#IGNORAR ELEMENTOS DE ENTORNO VIRTUAL
env
venv
colegio/PanelParaColegiosMKDJF.sqlite3

#IGNORAR CACHE DE LA APP
**/__pycache__/

#IGNORAR MIGRACIONES DE LA APP
**/migrations/

colegio/theme/
colegio/core/__pycache__/
colegio/__pycache__/


#IGNORAR ELEMENTOS PERSONALES DE USUARIOS
colegio/media/actividades_profesores/media/
colegio/media/admins/media/
colegio/media/students/media/
colegio/media/colegiosBanner/media/
colegio/media/colegiosFoto/media/
colegio/media/managers/media/
colegio/media/materias/media/
colegio/media/teachers/media/

#IGNORAR ELEMENTOS DEL COLEGIO
colegio/media/respuesta_estudiantes_actividades/