<!DOCTYPE html> <!--EVITAR INUSUALIDADADES EN EL NAVEGADOR-->
<head>
  <title>Crear nuevos datos escolares</title>
</head>
{% extends 'base.html' %}


{% block content %}
{% load static %}
<section class="bg-white">
  <div class="py-4 px-4 mx-auto max-w-screen-xl lg:py-2 lg:px-6 ">
      <div class="mx-auto max-w-screen-sm text-center">
          <h2 class="lg:py-2  text-4xl tracking-tight font-bold text-gray-900 mb-8">OTRAS OPCIONES!</h2>
      </div> 
      <div class="grid gap-6 mb-6 lg:mb-4 md:grid-cols-3 lg:grid-cols-4">
          
        <div class="items-center bg-white border-4 border-gray-200 rounded-lg sm:flex p-4 block shadow-2xl hover:scale-105 duration-300 ease-in-out">
            <div class="block w-full">
                <h5 class="font-mono font-bold text-gray-900 text-4xl text-center">Horarios</h5>
                <img class="w-full p-4" src="{% static 'img/informacion/calendario.png' %}" alt="Alumno">
                <div class="mt-2 flex">
                  <a type="button" href="{% url 'CrearHorarios' %}" class="myButton font-semibold text-white px-2 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-8/12 py-2 text-center text-lg"><i class="fas fa-plus"></i></a>
                  <button id="dropdownButtonHorario" type="button" href="#" class="myButton cardButton font-semibold text-white px-2 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-3/12 py-2 text-center text-lg ml-auto"><i class="fas fa-bars" ></i>
                  
                    <div class="absolute mt-4">
                      <div id="horario-dropdown" class="z-50 hidden absolute top-full mt-2 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow">
                        <ul class="py-2" aria-labelledby="ajuste-menu-button">
                            <li>
                                <a href="" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" id="mirar-dropdown">Mirar</a>
                            </li>
                            <li>
                                <a href="" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" id="editar-dropdown">Editar</a>
                            </li>
                        </ul>
                      </div>
                    </div> 

                  </button>
                </div>     
                
            </div>
        </div>



        <div class="items-center bg-white border-4 border-gray-200 rounded-lg sm:flex p-4 block shadow-2xl hover:scale-105 duration-300 ease-in-out">
              <div class="block w-full">
                  <h5 class="font-mono font-bold text-gray-900 text-4xl text-center">Grados</h5>
                  <img class="w-full p-4" src="{% static 'img/informacion/grado.png' %}" alt="Grados">
                  <div class="mt-2 flex">
                      <a type="button" href="{% url 'CrearGrado' %}" class="myButton  font-semibold text-white px-2 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-8/12 py-2 text-center text-lg"><i class="fas fa-plus"></i></a>

                      <button id="dropdownButtonGrados" type="button"  href="#" class="myButton cardButton  font-semibold text-white px-2 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-3/12 py-2 text-center text-lg ml-auto"><i class="fas fa-bars"></i>
                      
                        <div class="absolute mt-4">
                          <div id="grados-dropdown" class="z-50 hidden absolute top-full mt-2 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow">
                            <ul class="py-2" aria-labelledby="ajuste-menu-button">
                                <li>
                                    <a href="{% url 'MirarGrados' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" id="mirar-dropdown">Mirar</a>
                                </li>
                                <li>
                                    <a href="" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" id="editar-dropdown">Editar</a>
                                </li>
                            </ul>
                          </div>
                        </div> 

                      </button>
                    </div >
              </div>
          </div>


          <div class="items-center bg-white border-4 border-gray-200 rounded-lg sm:flex p-4 block shadow-2xl hover:scale-105 duration-300 ease-in-out">
              <div class="block w-full">
                  <h5 class="font-mono font-bold text-gray-900 text-4xl text-center">Materias</h5>
                  <img class="w-full p-4" src="{% static 'img/informacion/deberes.png' %}" alt="Alumno">
                  <div class="mt-2 flex">
                      <a type="button" href="{% url 'VerGradosMaterias' %}" class="myButton  font-semibold text-white px-2 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-8/12 py-2 text-center text-lg"><i class="fas fa-plus"></i></a>
                      <button id="dropdownButtonMaterias" type="button" href="#" class="myButton cardButton font-semibold text-white px-2 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-3/12 py-2 text-center text-lg ml-auto"><i class="fas fa-bars"></i>
                      
                        <div class="absolute mt-4">
                          <div id="materias-dropdown" class="z-50 hidden absolute top-full mt-2 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow">
                            <ul class="py-2" aria-labelledby="ajuste-menu-button">
                                <li>
                                    <a href="" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" id="mirar-dropdown">Mirar</a>
                                </li>
                                <li>
                                    <a href="" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" id="editar-dropdown">Editar</a>
                                </li>
                            </ul>
                          </div>
                        </div> 
                      
                      </button>
                    </div>
              </div>
          </div>
            
  </div>

</section>
<script src="{% static 'js/cards.js' %}"></script>
{% endblock content %}