{% load static %}
<!-- Navbar Lateral -->
<aside id="NavBar" class="z-40 mov bg-[#ff7738] text-white w-60 lg:flex lg:flex-col fixed h-full overflow-y-auto rounded-3xl border-8 border-white bg-no-repeat">
    <!-- Logo -->
    <div class="p-4 text-2xl font-semibold">{{ request.user.customuserteachers.colegio.colegio }}</div>

    <!-- Menú de Navegación -->
    <nav class="flex-1">
        <ul class="space-y-2 ml-4">
          {% if abierto == 'inicio' %}
            <li class="bg-white text-black rounded-l-lg">
                <a href="{% url 'BoardTeachers' %}" class="block p-4 transition duration-300 rounded-lg">
                    <i class="fas fa-home mr-2"></i> Inicio
                </a>
            </li>
          {% else %}
            <li>
                <a href="{% url 'BoardTeachers' %}" class="block hover:bg-gray-700 p-4 transition duration-300 rounded-lg">
                    <i class="fas fa-home mr-2"></i> Inicio
                </a>
            </li>
          {% endif %}

          {% if abierto == 'calendario' %}
            <li class="bg-white text-black rounded-l-lg">
                <a href="{% url 'ViewScheduleProfessor' %}" class="block p-4 transition duration-300 rounded-lg">
                  <i class="fas fa-calendar mr-2"></i> Calendario
                </a>
            </li>
          {% else %}
            <li>
                <a href="{% url 'ViewScheduleProfessor' %}" class="block p-4 hover:bg-gray-700 transition duration-300 rounded-lg">
                  <i class="fas fa-calendar mr-2"></i> Calendario
                </a>
            </li>
          {% endif %}

          {% if abierto == 'mensajes' %}
            <li class="bg-white text-black rounded-l-lg">
                <a href="#" class="block p-4 transition duration-300 rounded-lg">
                  <i class="fas fa-envelope mr-2"></i> Mensajes
                </a>
            </li>
          {% else %}
            <li>
                <a href="#" class="block p-4 hover:bg-gray-700 transition duration-300 rounded-lg">
                  <i class="fas fa-envelope mr-2"></i> Mensajes
                </a>
            </li>
          {% endif %}

          {% if abierto == 'personas' %}
            <li class="bg-white text-black rounded-l-lg">
                <a href="#" class="block p-4 transition duration-300 rounded-lg">
                  <i class="fas fa-user mr-2"></i> Personas
                </a>
            </li>
          {% else %}
            <li>
                <a href="#" class="block p-4 hover:bg-gray-700 transition duration-300 rounded-lg">
                  <i class="fas fa-user mr-2"></i> Personas
                </a>
            </li>
          {% endif %}

          {% if abierto == 'notas' %}
            <li class="bg-white text-black rounded-l-lg">
              <a href="#" class="block p-4 transition duration-300 rounded-lg">
                <i class="fas fa-book mr-2"></i> Notas
              </a>
            </li>
          {% else %}
            <li>
              <a href="#" class="block p-4 hover:bg-gray-700 transition duration-300 rounded-lg">
                <i class="fas fa-book mr-2"></i> Notas
              </a>
            </li>
          {% endif %}
        </ul>
    </nav>

    <script>
        const Navbar = document.getElementById('NavBar');
        const Boton_navegador = document.getElementById('BotonNav');
        function onToggleMenu(e){
         Navbar.classList.toggle('mov');
        }
    </script>
    <style>
      @media (min-width: 0px) { 
        #NavBar.mov {
          transform: translateX(-100%);
        }
        #NavBar {
          transition: transform 0.3s ease-in-out;
        }
       }
       
       @media (min-width: 1024px) { 
        #NavBar.mov {
          transform: translateX(0%);
        }
        }
    </style>

    <!-- Pie de Página del Navbar -->
    <footer class="p-4 text-sm text-white">
      <footer class="p-4 text-sm text-white">
        © <span id="yearAndText"></span>
    </footer>
    </footer>
</aside>
<script src="{% static 'js/year.js' %}"></script>