<!--Example-->
<!--
{% url 'BoardTeachers' as board_teachers_url %}
{% include "../../../errors/error.html" with title="Llegaste al 100% de tu materia" url=board_teachers_url message="Reduce el porcentaje de otras actividades o no podrás crear nuevas actividades." button="Volver" %}
-->

<section class="relative z-10 bg-[#ff7738] py-[120px] rounded-lg">
    <div class="container mx-auto">
       <div class="-mx-4 flex">
          <div class="w-full px-4">
             <div class="mx-auto max-w-[400px] text-center">
                <h2
                   class="mb-2 text-[50px] font-bold leading-none text-white sm:text-[80px] md:text-[100px]"
                   >
                   {{title}}
                </h2>
                <h4 class="mb-3 text-[22px] font-semibold leading-tight text-white">
                   {{message}}
                </h4>
                <a href="{{url}}" class="inline-block rounded-lg border border-white px-8 py-3 text-center text-base font-semibold text-white transition hover:bg-white hover:text-black hover:cursor-pointer">
                    {{button}}
                </a>
             </div>
          </div>
       </div>
    </div>
    <div
       class="absolute top-0 left-0 -z-10 flex h-full w-full items-center justify-between space-x-5 md:space-x-8 lg:space-x-14 rounded-lg"
       >
       <div
          class="h-full w-1/3 bg-gradient-to-t from-[#ffa176] to-[#ff7738] rounded-lg"
          ></div>
       <div class="flex h-full w-1/3">
          <div
             class="h-full w-1/2 hidden lg:block bg-gradient-to-b from-[#ffa176] to-[#ff7738] rounded-lg"
             ></div>
          <div
             class="h-full w-1/2 hidden lg:block bg-gradient-to-t from-[#ffa176] to-[#ff7738] rounded-lg"
             ></div>
       </div>
       <div
          class="h-full w-1/3 bg-gradient-to-b from-[#ffa176] to-[#ff7738] rounded-lg"
          ></div>
    </div>
 </section>