<head>

    <title>Crear nuevo Alumno</title>
</head>
{% extends 'base.html' %}


{% block content %}
<div class="bg-white p-8 rounded-lg shadow-lg">
    <h5 class="text-5xl font-mono mb-4">CREA UN NUEVO HORARIO</h5>

    <form method="post" action="{% url 'CrearHorarios' %}">
        {% csrf_token %}
        <div>
            <div class=" grid md:gap-6 lg:gap-6 mb-2 md:grid-cols-2">
                <div>
                    <label for=" numero_documento" class="block  text-sm font-medium text-gray-900">Nombre del horario</label>
                    {{ form.titulo }}
                </div>
                <div>
                    <label for="correo_electronico" class="block  text-sm font-medium text-gray-900">Descripcion</label>
                    {{ form.descripcion }}
                </div>
                <div>
                    <label for=" nombres" class="block text-sm font-medium text-gray-900">Numero de horas</label>
                    {{ form.horas }}
                </div>  
            </div>
            <div class="mt-4">
                <button type="submit" id="myButton" class=" block py-2 font-semibold text-sm text-white px-4 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full">SUBIR</button>
            </div>
        </div>              
    </form>
</div>
{% endblock content %}  