<head>
    <title>Ver horario</title>
</head>
{% extends 'base.html' %}


{% block content %}
{% load static %}
<div class="mx-auto max-w-screen-sm text-center">
    <h2 class="lg:py-2  text-4xl tracking-tight font-bold text-gray-900 mb-8 zoom-4">HORARIO DE {{grado.grado_nom}}</h2>
</div> 



<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-200">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Hora
                </th>
                <th scope="col" class="px-6 py-3">
                    Lunes
                </th>
                <th scope="col" class="px-6 py-3">
                    Martes
                </th>
                <th scope="col" class="px-6 py-3">
                    Miercoles
                </th>
                <th scope="col" class="px-6 py-3">
                    Jueves
                </th>
                <th scope="col" class="px-6 py-3">
                    Viernes
                </th>
            </tr>
        </thead>
        <tbody>
        {% for horas in horario %}
            <tr class="bg-white border-b hover:bg-gray-100">

                <!--HORA-->
                <td class="px-6 py-4 font-medium">
                    {{horas.hora_inicio}} - {{horas.hora_fin}}
                    <br>
                    <button onclick="mostrarVentana('EmergenteHora', '{{horas.pk}}')">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                </td>
                <div id="EmergenteHora{{horas.pk}}" class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-gray-200 rounded-lg hidden h-[100vh] w-full VENTANA-MODAL">
                    <div id="MODAL-BOX" class="flex justify-center items-center h-[100vh]">
                        <div class="rounded-lg border border-black bg-white h-[90vh] w-[70%] overflow-auto">
                            <div class="w-full h-12 flex items-center justify-end rounded-lg text-black pl-1">
                                <b>Rango de Horario ({{horas.pk}}) </b>
                                <button onclick="cerrarVentana('EmergenteHora','{{horas.pk}}')" type="button">
                                    <i class="fas fa-arrow-right mx-4"></i>
                                </button>
                            </div>
                            <div class="w-full lg:grid lg:grid-cols-2">
                                <div class=" m-4 block">
                                    <form action="{% url 'EditarHorarioHora' horas.pk grado.pk %}" method="post">
                                        {% csrf_token %}
                                        <div>{{formHora.hora_inicio}}</div>
                                        <div>{{formHora.hora_fin}}</div>
                                        <button type="submit" class="myButton block py-2 font-semibold text-sm text-white px-4 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full h-full">ACEPTAR</button>
                                    </form> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--LUNES-->
                <td class="px-6 py-4">
                    {{horas.lunes}}
                    <br>
                    <button onclick="mostrarVentana('EmergenteLunes', '{{horas.pk}}')">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                </td>
                <div id="EmergenteLunes{{horas.pk}}" class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-gray-200 rounded-lg hidden h-[100vh] w-full VENTANA-MODAL">
                    <div id="MODAL-BOX" class="flex justify-center items-center h-[100vh]">
                        <div class="rounded-lg border border-black bg-white h-[90vh] w-[70%] overflow-auto">
                            <div class="w-full h-12 flex items-center justify-end rounded-lg text-black pl-1">
                                <b>LUNES HORA {{horas.hora_inicio}} HASTA {{horas.hora_fin}} ({{horas.pk}}) </b>
                                <button onclick="cerrarVentana('EmergenteLunes','{{horas.pk}}')" type="button">
                                    <i class="fas fa-arrow-right mx-4"></i>
                                </button>
                            </div>
                            <div class="w-full lg:grid lg:grid-cols-2">
                                <div class=" m-4 block">
                                    <form action="{% url 'EditarHorarioMaterias' horas.pk grado.pk %}" method="post">
                                        {% csrf_token %}
                                        <div>{{formMaterias.lunes}}</div>
                                        <button type="submit" class="myButton block py-2 font-semibold text-sm text-white px-4 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full h-full">ACEPTAR</button>
                                    </form> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--MARTES-->
                <td class="px-6 py-4">
                    {{horas.martes}}
                    <br>
                    <button onclick="mostrarVentana('EmergenteMartes', '{{horas.pk}}')">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                </td>
                <div id="EmergenteMartes{{horas.pk}}" class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-gray-200 rounded-lg hidden h-[100vh] w-full VENTANA-MODAL">
                    <div id="MODAL-BOX" class="flex justify-center items-center h-[100vh]">
                        <div class="rounded-lg border border-black bg-white h-[90vh] w-[70%] overflow-auto">
                            <div class="w-full h-12 flex items-center justify-end rounded-lg text-black pl-1">
                                <b>MARTES HORA {{horas.hora_inicio}} HASTA {{horas.hora_fin}} ({{horas.pk}}) </b>
                                <button onclick="cerrarVentana('EmergenteMartes','{{horas.pk}}')" type="button">
                                    <i class="fas fa-arrow-right mx-4"></i>
                                </button>
                            </div>
                            <div class="w-full lg:grid lg:grid-cols-2">
                                <div class=" m-4 block">
                                    <form action="{% url 'EditarHorarioMaterias' horas.pk grado.pk %}" method="post">
                                        {% csrf_token %}
                                        <div>{{formMaterias.martes}}</div>
                                        <button type="submit" class="myButton block py-2 font-semibold text-sm text-white px-4 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full h-full">ACEPTAR</button>
                                    </form> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--MIERCOLES-->
                <td class="px-6 py-4">
                    {{horas.miercoles}}
                    <br>
                    <button onclick="mostrarVentana('EmergenteMiercoles', '{{horas.pk}}')">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                </td>
                <div id="EmergenteMiercoles{{horas.pk}}" class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-gray-200 rounded-lg hidden h-[100vh] w-full VENTANA-MODAL">
                    <div id="MODAL-BOX" class="flex justify-center items-center h-[100vh]">
                        <div class="rounded-lg border border-black bg-white h-[90vh] w-[70%] overflow-auto">
                            <div class="w-full h-12 flex items-center justify-end rounded-lg text-black pl-1">
                                <b>MIERCOLES HORA {{horas.hora_inicio}} HASTA {{horas.hora_fin}} ({{horas.pk}}) </b>
                                <button onclick="cerrarVentana('EmergenteMiercoles','{{horas.pk}}')" type="button">
                                    <i class="fas fa-arrow-right mx-4"></i>
                                </button>
                            </div>
                            <div class="w-full lg:grid lg:grid-cols-2">
                                <div class=" m-4 block">
                                    <form action="{% url 'EditarHorarioMaterias' horas.pk grado.pk %}" method="post">
                                        {% csrf_token %}
                                        <div>{{formMaterias.miercoles}}</div>
                                        <button type="submit" class="myButton block py-2 font-semibold text-sm text-white px-4 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full h-full">ACEPTAR</button>
                                    </form> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--JUEVES-->
                <td class="px-6 py-4">
                    {{horas.jueves}}
                    <br>
                    <button onclick="mostrarVentana('EmergenteJueves', '{{horas.pk}}')">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                </td>
                <div id="EmergenteJueves{{horas.pk}}" class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-gray-200 rounded-lg hidden h-[100vh] w-full VENTANA-MODAL">
                    <div id="MODAL-BOX" class="flex justify-center items-center h-[100vh]">
                        <div class="rounded-lg border border-black bg-white h-[90vh] w-[70%] overflow-auto">
                            <div class="w-full h-12 flex items-center justify-end rounded-lg text-black pl-1">
                                <b>JUEVES HORA {{horas.hora_inicio}} HASTA {{horas.hora_fin}} ({{horas.pk}}) </b>
                                <button onclick="cerrarVentana('EmergenteJueves','{{horas.pk}}')" type="button">
                                    <i class="fas fa-arrow-right mx-4"></i>
                                </button>
                            </div>
                            <div class="w-full lg:grid lg:grid-cols-2">
                                <div class=" m-4 block">
                                    <form action="{% url 'EditarHorarioMaterias' horas.pk grado.pk %}" method="post">
                                        {% csrf_token %}
                                        <div>{{formMaterias.jueves}}</div>
                                        <button type="submit" class="myButton block py-2 font-semibold text-sm text-white px-4 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full h-full">ACEPTAR</button>
                                    </form> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--VIERNES-->
                <td class="px-6 py-4">
                    {{horas.viernes}}
                    <br>
                    <button onclick="mostrarVentana('EmergenteViernes', '{{horas.pk}}')">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                </td>
                <div id="EmergenteViernes{{horas.pk}}" class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-gray-200 rounded-lg hidden h-[100vh] w-full VENTANA-MODAL">
                    <div id="MODAL-BOX" class="flex justify-center items-center h-[100vh]">
                        <div class="rounded-lg border border-black bg-white h-[90vh] w-[70%] overflow-auto">
                            <div class="w-full h-12 flex items-center justify-end rounded-lg text-black pl-1">
                                <b>VIERNES HORA {{horas.hora_inicio}} HASTA {{horas.hora_fin}} ({{horas.pk}}) </b>
                                <button onclick="cerrarVentana('EmergenteViernes','{{horas.pk}}')" type="button">
                                    <i class="fas fa-arrow-right mx-4"></i>
                                </button>
                            </div>
                            <div class="w-full lg:grid lg:grid-cols-2">
                                <div class=" m-4 block">
                                    <form action="{% url 'EditarHorarioMaterias' horas.pk grado.pk %}" method="post">
                                        {% csrf_token %}
                                        <div>{{formMaterias.viernes}}</div>
                                        <button type="submit" class="myButton block py-2 font-semibold text-sm text-white px-4 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full h-full">ACEPTAR</button>
                                    </form> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </tr>

        {% endfor %}
        </tbody>
    </table>
</div>

<!--AUTOCOMPLETAR HORA-->
<script src="{% static 'js/autocompletar/hora.js' %}"></script>

<!--VENTANAS EMERGENTES DE HORARIOS-->
<script src="{% static 'js/ventanas/ventana_emergente_horarios.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/ventanas/ventana_emergente_horario.css' %}">

<!--BOTONES 3D-->
<script src="{% static 'js/boton.js' %}"></script>

{% endblock content %}  