<!DOCTYPE html> <!--EVITAR INUSUALIDADADES EN EL NAVEGADOR-->
<head>
    <title>Ver horario</title>
</head>

{% extends 'base.html' %}

{% block content %}
{% load static %}

<div id="top"></div>

<div>
    <!-- Vista de horario para tables o computadoras!-->
    <div class="hidden lg:block">
        <div class="mx-auto text-center">
            <h2 class="lg:py-2 text-4xl tracking-tight font-bold text-gray-900 mb-8 zoom-10">{{user.first_name}}, Aqui tienes tu horario.</h2>
        </div> 

        <div class="mx-2 lg:mx-20 relative">
            <span class="absolute top-0 left-0 mt-4 ml-4 h-full w-full rounded bg-gray-700"></span>
            <div class="overflow-x-auto shadow-md sm:rounded-lg relative">
                <table class="w-full text-sm text-left rtl:text-right overflow-x-auto text-gray-800">
                    <thead class="text-xs text-white uppercase bg-gray-600">
                        <tr>
                            <th scope="col" class="px-2 py-3">
                                Hora
                            </th>
                            <th scope="col" class="px-2 py-3">
                                Lunes
                            </th>
                            <th scope="col" class="px-2 py-3">
                                Martes
                            </th>
                            <th scope="col" class="px-2 py-3">
                                Miercoles
                            </th>
                            <th scope="col" class="px-2 py-3">
                                Jueves
                            </th>
                            <th scope="col" class="px-2 py-3">
                                Viernes
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for horas in horario %}
                        <tr class="bg-gray-100 border-b hover:bg-gray-200">

                            <!--HORA-->
                            <td class="px-2 py-2 font-medium">
                                {{horas.hora_inicio}} - {{horas.hora_fin}}
                                <br>
                            </td>

                            <!--LUNES-->
                            
                            {% if horas.lunes %}
                                <td class="px-2 py-2">
                                    {{horas.lunes}}
                                    <br>
                                </td>
                            {% else %}
                                <td class="px-2 py-2">
                                    <div class="flex">
                                        <div class="w-[30px] h-[30px] flex">
                                            <img src="{% static 'img/time/break.png' %}">
                                        </div>
                                        <div class="ml-2 flex items-center justify-center">
                                            <p><span class="font-bold">No</span> Asignado</p>
                                        </div>
                                    </div>
                                    <br>
                                </td>
                            {% endif %}
                            

                            <!--MARTES-->
                            {% if horas.martes %}
                                <td class="px-2 py-2">
                                    {{horas.martes}}
                                    <br>
                                </td>
                            {% else %}
                                <td class="px-2 py-2">
                                    <div class="flex">
                                        <div class="w-[30px] h-[30px] flex">
                                            <img src="{% static 'img/time/break.png' %}" alt="">
                                        </div>
                                        <div class="ml-2 flex items-center justify-center">
                                            <p><span class="font-bold">No</span> Asignado</p>
                                        </div>
                                    </div>
                                    <br>
                                </td>
                            {% endif %}

                            <!--MIERCOLES-->
                            {% if horas.miercoles %}
                                <td class="px-2 py-2">
                                    {{horas.miercoles}}
                                    <br>
                                </td>
                            {% else %}
                                <td class="px-2 py-2">
                                    <div class="flex">
                                        <div class="w-[30px] h-[30px] flex">
                                            <img src="{% static 'img/time/break.png' %}" alt="">
                                        </div>
                                        <div class="ml-2 flex items-center justify-center">
                                            <p><span class="font-bold">No</span> Asignado</p>
                                        </div>
                                    </div>
                                    <br>
                                </td>
                            {% endif %}

                            <!--JUEVES-->
                            {% if horas.jueves %}
                                <td class="px-2 py-2">
                                    {{horas.jueves}}
                                    <br>
                                </td>
                            {% else %}
                                <td class="px-2 py-2">
                                    <div class="flex">
                                        <div class="w-[30px] h-[30px] flex">
                                            <img src="{% static 'img/time/break.png' %}" alt="">
                                        </div>
                                        <div class="ml-2 flex items-center justify-center">
                                            <p><span class="font-bold">No</span> Asignado</p>
                                        </div>
                                    </div>
                                    <br>
                                </td>
                            {% endif %}
                            
                            <!--VIERNES-->
                            {% if horas.viernes %}
                                <td class="px-2 py-2">
                                    {{horas.viernes}}
                                    <br>
                                </td>
                            {% else %}
                                <td class="px-2 py-2">
                                    <div class="flex">
                                        <div class="w-[30px] h-[30px] flex">
                                            <img src="{% static 'img/time/break.png' %}" alt="">
                                        </div>
                                        <div class="ml-2 flex items-center justify-center">
                                            <p><span class="font-bold">No</span> Asignado</p>
                                        </div>
                                    </div>
                                    <br>
                                </td>
                            {% endif %}
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- Vista de horario para celulares -->
    <!-- View of schedule for phones -->

    <div class="block lg:hidden py-2 px-4 lg:py-2 lg:px-2">
        <div class="block">

        <div id="content_schedule" class="block lg:hidden py-2 px-4 lg:py-2 lg:px-2">
            <!--
                Day one
                Dia uno
            -->
            {% if day == "1" %}
                <div id="monday" class="today_schedule">
            {% else %}
                <div id="monday" class="hidden">
            {% endif %}
                    <div class="mx-auto text-center">
                        <h2 class="lg:py-2 text-4xl tracking-tight font-bold text-gray-900 mb-8 zoom-10">Horario del Lunes.</h2>
                    </div> 
                    {% for horas in horario %}
                        {% if horas.lunes %}
                            <div class="relative mt-8">
                                <span class="absolute top-0 left-0 mt-4 ml-4 h-full w-full rounded bg-gray-700 "></span>
                                <div class="relative items-center bg-gray-300 rounded-lg sm:flex p-4 block shadow-2xl ease-in-out duration-300">
                                    <div class="block w-full">
                                        <h5 class="font-mono font-bold text-gray-900 text-4xl text-center"><i class="fa-solid fa-book"></i> {{horas.lunes}}</h5>
                                        <p class="text-center"> <i class="fa-regular fa-clock"></i> | {{horas.hora_inicio}} - {{horas.hora_fin}}</p>
                                        <img class="w-full p-4" src="{{horas.lunes.picture1.url }}" alt="Alumno">
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            <!--
                Day two
                Dia 2
            -->
            {% if day == "2" %}
                <div id="tuesday" class="today_schedule">
            {% else %}
                <div id="tuesday" class="hidden">
            {% endif %}
                    <div class="mx-auto text-center">
                        <h2 class="lg:py-2 text-4xl tracking-tight font-bold text-gray-900 mb-8 zoom-10">Horario del Martes.</h2>
                    </div> 
                    {% for horas in horario %}
                        {% if horas.martes %}
                            <div class="relative mt-8">
                                <span class="absolute top-0 left-0 mt-4 ml-4 h-full w-full rounded bg-gray-700 "></span>
                                <div class="relative items-center bg-gray-300 rounded-lg sm:flex p-4 block shadow-2xl ease-in-out duration-300">
                                    <div class="block w-full">
                                        <h5 class="font-mono font-bold text-gray-900 text-4xl text-center"><i class="fa-solid fa-book"></i> {{horas.martes}}</h5>
                                        <p class="text-center"> <i class="fa-regular fa-clock"></i> | {{horas.hora_inicio}} - {{horas.hora_fin}}</p>
                                        <img class="w-full p-4" src="{{horas.lunes.picture1.url }}" alt="Alumno">
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            <!--
                Day three
                Dia 3
            -->
            {% if day == "3" %}
                <div id="wednesday" class="today_schedule">
            {% else %}
                <div id="wednesday" class="hidden">
            {% endif %}
                    <div class="mx-auto text-center">
                        <h2 class="lg:py-2 text-4xl tracking-tight font-bold text-gray-900 mb-8 zoom-10">Horario del Miercoles.</h2>
                    </div> 
                    {% for horas in horario %}
                        {% if horas.miercoles %}
                            <div class="relative mt-8">
                                <span class="absolute top-0 left-0 mt-4 ml-4 h-full w-full rounded bg-gray-700 "></span>
                                <div class="relative items-center bg-gray-300 rounded-lg sm:flex p-4 block shadow-2xl ease-in-out duration-300">
                                    <div class="block w-full">
                                        <h5 class="font-mono font-bold text-gray-900 text-4xl text-center"><i class="fa-solid fa-book"></i> {{horas.miercoles}}</h5>
                                        <p class="text-center"> <i class="fa-regular fa-clock"></i> | {{horas.hora_inicio}} - {{horas.hora_fin}}</p>
                                        <img class="w-full p-4" src="{{horas.lunes.picture1.url }}" alt="Alumno">
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            <!--
                Day four
                Dia 4
            -->
            {% if day == "4" %}
                <div id="thursday" class="today_schedule">
            {% else %}
                <div id="thursday" class="hidden">
            {% endif %}
                    <div class="mx-auto text-center">
                        <h2 class="lg:py-2 text-4xl tracking-tight font-bold text-gray-900 mb-8 zoom-10">Horario del Jueves.</h2>
                    </div> 
                    {% for horas in horario %}
                        {% if horas.jueves %}
                            <div class="relative mt-8">
                                <span class="absolute top-0 left-0 mt-4 ml-4 h-full w-full rounded bg-gray-700 "></span>
                                <div class="relative items-center bg-gray-300 rounded-lg sm:flex p-4 block shadow-2xl ease-in-out duration-300">
                                    <div class="block w-full">
                                        <h5 class="font-mono font-bold text-gray-900 text-4xl text-center"><i class="fa-solid fa-book"></i> {{horas.jueves}}</h5>
                                        <p class="text-center"> <i class="fa-regular fa-clock"></i> | {{horas.hora_inicio}} - {{horas.hora_fin}}</p>
                                        <img class="w-full p-4" src="{{horas.lunes.picture1.url }}" alt="Alumno">
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            <!--
                Day five
                Dia 5
            -->
            {% if day == "5" %}
                <div id="friday" class="today_schedule">
            {% else %}
                <div id="friday" class="hidden">
            {% endif %}
                    <div class="mx-auto text-center">
                        <h2 class="lg:py-2 text-4xl tracking-tight font-bold text-gray-900 mb-8 zoom-10">Horario del Viernes.</h2>
                    </div> 
                    {% for horas in horario %}
                        {% if horas.viernes %}
                            <div class="relative mt-8">
                                <span class="absolute top-0 left-0 mt-4 ml-4 h-full w-full rounded bg-gray-700 "></span>
                                <div class="relative items-center bg-gray-300 rounded-lg sm:flex p-4 block shadow-2xl ease-in-out duration-300">
                                    <div class="block w-full">
                                        <h5 class="font-mono font-bold text-gray-900 text-4xl text-center"><i class="fa-solid fa-book"></i> {{horas.viernes}}</h5>
                                        <p class="text-center"> <i class="fa-regular fa-clock"></i> | {{horas.hora_inicio}} - {{horas.hora_fin}}</p>
                                        <img class="w-full p-4" src="{{horas.lunes.picture1.url }}" alt="Alumno">
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            <!--
                Day six
                Dia 6
            --> 
            {% if day == "6" %}
                <div id="saturday" class="today_schedule">
            {% else %}
                <div id="saturday" class="hidden">
            {% endif %}
                    <div class="mx-auto text-center">
                        <h2 class="lg:py-2 text-4xl tracking-tight font-bold text-gray-900 mb-8 zoom-10">Horario del Sabado.</h2>
                    </div> 
                    <div class="relative mt-8">
                        <span class="absolute top-0 left-0 mt-4 ml-4 h-full w-full rounded bg-gray-700 "></span>
                        <div class="relative items-center bg-gray-300 rounded-lg sm:flex p-4 block shadow-2xl ease-in-out duration-300">
                            <div class="block w-full">
                                <h5 class="font-mono font-bold text-gray-900 text-4xl text-center"><i class="fa-solid fa-book"></i> No tienes clases! <br> Es sabado!</h5>
                                <img class="w-full p-4" src="{% static 'img/usuarios/alumnos.png' %}" alt="Alumno">
                            </div>
                        </div>
                    </div>
                </div>

            <!--
                Day seven
                Dia 7
            --> 
            {% if day == "7" %}
                <div id="sunday" class="today_schedule">
            {% else %}
                <div id="sunday" class="hidden">
            {% endif %}
                    <div class="mx-auto text-center">
                        <h2 class="lg:py-2 text-4xl tracking-tight font-bold text-gray-900 mb-8 zoom-10">Horario del Domingo.</h2>
                    </div> 
                    <div class="relative mt-8">
                        <span class="absolute top-0 left-0 mt-4 ml-4 h-full w-full rounded bg-gray-700 "></span>
                        <div class="relative items-center bg-gray-300 rounded-lg sm:flex p-4 block shadow-2xl ease-in-out duration-300">
                            <div class="block w-full">
                                <h5 class="font-mono font-bold text-gray-900 text-4xl text-center"><i class="fa-solid fa-book"></i> No tienes clases! <br> Es Domingo!</h5>
                                <img class="w-full p-4" src="{% static 'img/usuarios/alumnos.png' %}" alt="Alumno">
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <div class="mx-auto text-center">
            <h2 class="lg:py-2 text-2xl tracking-tight font-bold text-gray-900 my-8 zoom-10">Si quieres ver otro dia puedes usar este menu!</h2>
        </div> 
            <div class="block">
            <div class="flex justify-center mb-4">
                <button onclick="showSection('monday')" type="button" class="myButton font-semibold text-white px-2 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full py-2 text-center text-lg">Lunes</button>
                <div class="mx-2"></div>
                <button onclick="showSection('tuesday')" type="button" class="myButton font-semibold text-white px-2 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full py-2 text-center text-lg">Martes</button>
                <div class="mx-2"></div>
                <button onclick="showSection('wednesday')" type="button" class="myButton font-semibold text-white px-2 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full py-2 text-center text-lg">Miercoles</button>
            </div>  
            <div class="flex justify-center mb-4">
                <button onclick="showSection('thursday')" type="button" class="myButton font-semibold text-white px-2 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full py-2 text-center text-lg">Jueves</button>
                <div class="mx-2"></div>
                <button onclick="showSection('friday')" type="button" class="myButton font-semibold text-white px-2 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full py-2 text-center text-lg">Viernes</button>
            </div>
            <hr>
            <div class="flex justify-center my-4">
                <button onclick="showSection('saturday')" type="button" class="myButton font-semibold text-white px-2 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full py-2 text-center text-lg">Sabado</button>
                <div class="mx-2"></div>
                <button onclick="showSection('sunday')" type="button" class="myButton font-semibold text-white px-2 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full py-2 text-center text-lg">Domingo</button>
            </div>
        </div>

    </div>
</div>

<br>

<script src="{%static 'js/schedule/menu.js'%}"></script>

{% endblock content %}  