{% load static %}
{% load i18n %}
{% load account %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="es">

<head>
  {% tailwind_css %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- FONTS -->
  <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  
  <title>Inicio de sesion</title>
</head>


<body>
  
  <header class="bg-transparent">
    <nav class="absolute flex justify-between items-center w-[100%] mx-auto rounded-xl">
      <div></div>
      <div
        class="nav-links duration-500 md:static absolute md:min-h-fit min-h-[0vh] left-0 top-[-1300%] w-full flex justify-center px-5">
        <div class="flex justify-center md:flex-row flex-col min-[0px]:items-center min-[0px]:bg-white md:bg-transparent md:items-center md:gap-[4vw] gap-2 mt-1 py-4 rounded-xl max-w-md w-full z-10 text-black">
            
            <a class="hover:text-orange-600 px-4 hover:text-white font-semibold min-[0px]:w-full text-center min-[0px]:hover:bg-orange-400 py-2 md:hover:bg-transparent" href="#">Acerca</a>
            <a class="hover:text-orange-600 px-4 hover:text-white font-semibold min-[0px]:w-full text-center min-[0px]:hover:bg-orange-400 py-2 md:hover:bg-transparent" href="#">Precios</a>
            <a class="hover:text-orange-600 px-4 hover:text-white font-semibold min-[0px]:w-full text-center min-[0px]:hover:bg-orange-400 py-2 md:hover:bg-transparent" href="#">Contáctenos</a>
            <a class="hover:text-orange-600 px-4 hover:text-white font-semibold min-[0px]:w-full text-center min-[0px]:hover:bg-orange-400 py-2 md:hover:bg-transparent" href="">Registro</a>
            <a class="hover:text-orange-600 px-4 hover:text-white font-semibold min-[0px]:w-full text-center min-[0px]:hover:bg-orange-400 py-2 md:hover:bg-transparent" href="">Panel</a>

        </div>
      </div>
      <div class="flex items-center gap-6 text-black">
        <ion-icon onclick="onToggleMenu(this)" name="menu" class="text-3xl cursor-pointer md:hidden mt-4 mr-4 z-20"></ion-icon>
      </div>
    </nav>
  </header>

<section class="bg-no-repeat bg-cover min-h-screen flex items-center justify-center background"
  style="background-image: url('https://images.pexels.com/photos/8199562/pexels-photo-8199562.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
  <!-- login container -->
  <div
    class="border-2 border-gray-200 bg-gray-100 shadow-xl shadow-black rounded-lg py-8 px-4 items-center mx-6 md:py-10">
    <!-- form -->
    <div class="w-full px-4">
      <p class="font-bold text-[35px] text-orange-500 flex items-center justify-center">Iniciar Sesión</p>
      <p class="text-m mt-4 text-black">Tienes que iniciar sesión con tu Usuario y Contraseña</p>

      <form action="" class="flex flex-col gap-2">
        <input class="p-2 mt-8 rounded-xl border-orange-500" type="email" name="email" placeholder="Usuario">
        <div class="relative">
          <input class="p-2 rounded-xl border-orange-500 w-full" type="password" name="password"
            placeholder="Contraseña">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray"
            class="bi bi-eye absolute top-1/2 right-3 -translate-y-1/2" viewBox="0 0 16 16">
            <path
              d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
          </svg>
        </div>
        <button
          class="bg-[#002D74] rounded-xl text-white py-2 bg-gradient-to-l from-orange-400 to-orange-600 hover:scale-105 border-l border-t border-r border-4 border-orange-800 transition duration-300 ease-in-out hover:scale-105 focus:border-2 focus:border-t focus:border-l focus:border-r focus:mt-1">Ingresar
        </button>
      </form>

      <div class="mt-2 text-xs flex justify-between items-center border-b border-orange-500 py-2 text-black">
        <p>Olvidaste tu contraseña?</p>
        <button
          class="py-2 px-5 bg-white border rounded-xl hover:scale-110 duration-300 text-orange-500 border-1 border-orange-400 border-l border-t border-r border-4 transition duration-300 ease-in-out hover:scale-105 focus:border-2 focus:border-t focus:border-l focus:border-r focus:mt-1">Recuperar</button>
      </div>

      <div class="mt-2 text-xs flex justify-between items-center text-black">
        <p>Tienes algún problema?</p>
        <button
          class="py-2 px-5 bg-white border rounded-xl hover:scale-110 duration-300 text-orange-500 border-1 border-orange-400 border-l border-t border-r border-4 transition duration-300 ease-in-out hover:scale-105 focus:border-2 focus:border-t focus:border-l focus:border-r focus:mt-1">Contáctanos</button>
      </div>
    </div>
  </div>
</section>


<script>
  const navLinks = document.querySelector('.nav-links');
  const background = document.querySelector('.background'); // Elemento de fondo

  function onToggleMenu(e) {
    e.name = e.name === 'menu' ? 'close' : 'menu';

    if (e.name === 'menu') {
      background.classList.remove('blurred');
    } else {
      background.classList.add('blurred');
    }
    navLinks.classList.toggle('top-[9%]');
  }

</script>
<style>
.background.blurred {
filter: blur(5px); /* Puedes ajustar el valor del desenfoque según tus preferencias */
transition: filter 0.3s ease; /* Agrega una transición suave */
}
</style>

</body>
</html>