{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load tailwind_tags %}


<head>{% tailwind_css %}</head>

{% load i18n %}

<body class="bg-gray-50 dark:bg-dark-main ">
<section class="bg-gray-50 dark:bg-dark-main overflow-hidden bg-gray-50 sm:grid sm:grid-cols-2 sm:flex items-center sm:justify-center h-screen">
    <div class="p-8 md:p-12 lg:px-16 lg:py-24">
      <div
        class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right dark:text-gray-100"
      >
        <p class="text-3xl font-bold dark:text-gray-100">
          Gracias por registrarte en nuestra pagina!
        </p>
        <div class="mt-6">
        <p class="dark:text-gray-100">Para verificar que se crean cuentas reales hemos enviado un correo electrónico para su verificación. Siga el enlace proporcionado para finalizar el proceso de registro. Por favor, contáctenos si no lo recibe en unos minutos.</p>
        </div>
        </div>
      </div>
    </div>
    <div class="mx-auto w-1/2 image-container">
    <img
      alt="Student"
      src="{% static 'img/email-send.png' %}"
      class="object-cover tremble"
    />

    <style>
        .image-container {
  position: relative;
}

.tremble {
  animation: tremble 0.2s infinite alternate;
  animation: width 1s infinite alternate;
}

@keyframes tremble {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(2px, 2px);
  }
}
@keyframes width {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
    </style>
    </div>
  </section>
</body>