<!DOCTYPE html> <!--EVITAR INUSUALIDADADES EN EL NAVEGADOR-->
<head>
    <title>Crear nuevo colegio</title>
</head>
{% extends 'base.html' %}


{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/recorte_imagenes/cropper.css' %}">
    <link rel="stylesheet" href=" {% static 'css/recorte_imagenes/index.css' %}">
</head>

<div class="bg-white p-8 rounded-lg shadow-lg">

<form method="post" action="{% url 'ColegiosCreate' %}" enctype="multipart/form-data" id="formulario">
    <div class="flex w-full h-[30vh] z-10">
        <div class="group-banner">
            <img src="{% static 'img/colegios/banner.png' %}" class="w-full h-full rounded-lg border border-black crop-image-banner" id="crop-image-banner">
            {{form.banner}}
            <label for="input-file-banner" class="label-file">Haz click aquí para subir una imagen</label>
        </div>
        
    </div>

    <div class="z-20 ">
        <div class="container">
            <div class="group">
                <img src="{% static 'img/colegios/profile.png' %}" class="crop-image" id="crop-image">
                {{form.foto}}
                <label for="input-file" class="label-file">Haz click aquí para subir una imagen</label>
            </div>
        </div>

        <!--MODAL PARA RECORTAR IMAGEN-->
        <div class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <p>RECORTA TU FOTO</p>
                </div>
                <div class="modal-body">
                    <div class="content-imagen-cropper">
                        <img src="" alt="" class="img-cropper" id="img-cropper">
                    </div>
                    <div class="content-imagen-sample">
                        <div src="" alt="" class="img-sample" id="img-croppered"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="block py-2 font-semibold text-sm text-white px-4 rounded-lg bg-orange-800 border-l border-r border-t border-4 border-black hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full" id="cut">Recortar</button>
                    <button class="block py-2 font-semibold text-sm text-white px-4 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full" id="close">Cancelar</button>
                </div>
            </div>
        </div>

        <!--RESTO DEL FORMULARIO-->
        {% csrf_token %}
            <div>
                <div class=" grid md:gap-6 lg:gap-6 mb-2 md:grid-cols-2">
                    <div>
                        <label for="clave" class="block  text-sm font-medium text-gray-900">NOMBRE CLAVE DEL COLEGIO</label>
                        {{form.clave}}
                    </div>
                    <div>
                        <label for="colegio" class="block  text-sm font-medium text-gray-900">NOMBRE DEL COLEGIO</label>
                        {{form.colegio}}
                    </div>
                    <div>
                        <label for="numero" class="block text-sm font-medium text-gray-900">NUMERO DEL COLEGIO</label>
                        {{form.numero}}
                    </div>  
                    <div>
                        <label for="direccion" class="block text-sm font-medium text-gray-900">DIRECCION DEL COLEGIO</label>
                    {{form.direccion}}
                    </div>  
                </div>

                <div class="mt-4">          
                    <label for="descripcion" class="block  text-sm font-medium text-gray-900">DESCRIPCION DEL COLEGIO</label>
                    {{form.descripcion}}
                </div>

                {{form.cords}}
                <div class="mt-4">
                    <button type="submit" id="myButton" class="block py-2 font-semibold text-sm text-white px-4 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full">SUBIR</button>
                </div>

            </div>
    </div>
</form>

<ul>
    {% for colegio in colegios %}
        <li>{{ colegio.colegio_nom }}</li>
    {% endfor %}
</ul>

<script src="{% static 'js/recorte_imagenes/jquery.js' %}"></script>
<script src="{% static 'js/recorte_imagenes/index.js' %}"></script>
<script src="{% static 'js/recorte_imagenes/cropper.js' %}"></script>

</div>
{% endblock content %}  