<head>
    <title>Crear nuevas materias</title>
</head>
{% extends 'base.html' %}


{% block content %}
{% load static %}

<script>

    window.onload = function() {
      var checkboxesAlumnos1 = document.querySelectorAll('input[name="alumnos1"]');

      checkboxesAlumnos1.forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {

            var checkboxId = checkbox.id;
            checkboxId = checkboxId.replace('_primer', '');
            if (checkbox.checked) {
                const checkbox2 = document.getElementById(checkboxId)
                checkbox2.checked = false
            } else {
                const checkbox2 = document.getElementById(checkboxId)
                checkbox2.checked = true
            }
        });
      });

      var checkboxesAlumnos2 = document.querySelectorAll('input[name="alumnos2"]');

      checkboxesAlumnos2.forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
            var checkboxId = checkbox.id;
            checkboxId = checkboxId + '_primer';
            if (checkbox.checked) {
                const checkbox1 = document.getElementById(checkboxId)
                checkbox1.checked = false
            } else {
                const checkbox1 = document.getElementById(checkboxId)
                checkbox1.checked = true
            }
        });
      });

      checkboxesAlumnos1.forEach(function(checkbox) {
        let currentId = checkbox.id;
        let nuevoId = currentId + '_primer';
        checkbox.id = nuevoId;
        checkbox.checked = true;
      });
      
    }

    document.addEventListener("DOMContentLoaded", function() {
        var checkbox = document.getElementById('Checkbox');

        checkbox.addEventListener('click', function() {
        var container = document.getElementById('containerElectiva');
        if (checkbox.checked) {
            container.classList.remove('hidden');
        } else {
            container.classList.add('hidden');
        }
        });
    });
    function mostrarVentana() {
            const ventana = document.getElementById('EmergenteAlumnos');
            ventana.classList.remove('hidden');
        }

    function cerrarVentana() {
        const ventana = document.getElementById('EmergenteAlumnos');
        ventana.classList.add('hidden');
    }
</script>

<form method="post" action="{% url 'CrearMaterias' id_grado %}">
    {% csrf_token %}

    <div id="EmergenteAlumnos" class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-gray-200 rounded-lg hidden h-full w-full">
        <div id="EmergenteAlumnosBox" class="flex justify-center items-center h-screen">
            <div class="rounded-lg border border-black bg-white h-[90%] w-[70%] overflow-auto">
                <div class="w-full h-12 flex items-center justify-end rounded-lg text-black pl-1">
                    <b>Alumnos Disponibles Para Este Grado</b> 
                    <button onclick="cerrarVentana()" type="button">
                        <i class="fas fa-arrow-right mx-4"></i>
                    </button>
                </div>
                <div class="w-full lg:grid lg:grid-cols-2">
                    <div class=" m-4 block">
                        <h1>{{form.alumnos1}}</h1>
                    </div>

                    <div class="m-4 block">
                        <h1>{{form.alumnos2}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div>          
            <label for="electiva" class="text-sm font-medium text-gray-900 mr-2">Electiva</label>
            {{form.electiva}}
        </div>

        <div class=" grid md:gap-6 lg:gap-6 mb-2 md:grid-cols-2">
            <div>          
                <label for="profe" class="block  text-sm font-medium text-gray-900">Profe</label>
                {{form.profe1}}
            </div>
            <div>          
                <label for="titulo1" class="block  text-sm font-medium text-gray-900">Titulo1</label>
                {{form.titulo1}}
            </div>
            <div>          
                <label for="descripcion1" class="block  text-sm font-medium text-gray-900">Descripcion1</label>
                {{form.descripcion1}}
            </div>
            
            <div>          
                <label for="alumnos1" class="block  text-sm font-medium text-gray-900">Alumnos1</label>
                <button type="button" onclick="mostrarVentana()">
                <input type="text" id="input" value="Seleccionar alumnos" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-600 focus:border-white block w-full p-2.5 pointer-events-none">
                </button>
            </div>
        </div>


        <div class=" grid md:gap-6 lg:gap-6 mb-2 md:grid-cols-2" id="containerElectiva">    
            <div>          
                <label for="profe" class="block  text-sm font-medium text-gray-900">Profe</label>
                {{form.profe2}}
            </div>
            <div>          
                <label for="titulo2" class="block  text-sm font-medium text-gray-900">Titulo2</label>
                {{form.titulo2}}
            </div>
            <div>          
                <label for="descripcion2" class="block  text-sm font-medium text-gray-900">Descripcion2</label>
                {{form.descripcion2}}
            </div>
        </div>
        
        <div class="mt-4">
            <button type="submit" id="myButton" class=" block py-2 font-semibold text-sm text-white px-4 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full">SUBIR</button>
        </div>
    <script>
        
    </script>

</form>



    <style>
        #checkbox label{
            display: flex;
            margin-top: 10px;
        }
        #checkbox label input{
            margin-right: 4px;
            display: flex;
        }
    </style>

    <style>
        #EmergenteAlumnosBox{
            animation: fadeIn1 0.3s ease-in-out;
        }
        #EmergenteAlumnos{
            background-color: rgba(115, 115, 115, 0.61);
            z-index: 999;
        }
        @keyframes fadeIn1 {
                from {
                  opacity: 0;
                  scale: 0.2;
                }
                to {
                  opacity: 1;
                  scale: 1;
                }
              }
    </style>
{% endblock content %}  