<!DOCTYPE html> <!--EVITAR INUSUALIDADADES EN EL NAVEGADOR-->
<head>

    <title>Crear nuevo Gestor</title>
</head>
{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/recorte_imagenes/cropper.css' %}">
    <link rel="stylesheet" href=" {% static 'css/recorte_imagenes/index.css' %}">
</head>
<div class="bg-white p-8 rounded-lg shadow-lg">
    <h5 class="text-5xl font-mono mb-4">CREA UN GESTOR</h5>
    <!-- Formulario Para Crear Las Cuentas De Los Gestores -->

    <form method="post" action="{% url 'CrearGestor' %}" enctype="multipart/form-data" id="formulario">
        {% csrf_token %}
        <div>

            <div class="container">
                <div class="group">
                    <img src="{% static 'img/usuarios/gestores.png' %}" class="crop-image" id="crop-image">
                    {{form.foto}}
                    <label for="input-file" class="label-file">Haz click aquí para subir una imagen</label>
                </div>
            </div>

            {% include 'users/recorte_fotos.html' %}

            <div class=" grid md:gap-6 lg:gap-6 mb-2 md:grid-cols-2">
                <div>
                    <label for="username" class="block text-xl font-medium text-gray-900">Numero De Documento: </label>
                    {{form.username}}
                </div>
                <div>
                    <label for="email" class="block text-xl font-medium text-gray-900">Correo Electronico: (opcional)</label>
                    {{form.email}}
                </div>
                <div>
                    <label for="first_name" class="block text-xl font-medium text-gray-900">Nombres:</label>
                    {{form.first_name}}
                </div>  
                <div>
                    <label for="last_name" class="block text-xl font-medium text-gray-900">Apellidos:</label>
                   {{form.last_name}}
                </div>
                <div>          
                    <label for="tipo_documento" class="block text-xl font-medium text-gray-900">Tipo De Documento</label>
                    {{form.tipo_documento}}
                </div>
                <div>
                    <label for="password" class="block text-xl font-medium text-gray-900">Contraseña:</label>
                    {{form.password}}
                </div>
                <div>          
                    <label for="sexo" class="block text-xl font-medium text-gray-900">Sexo</label>
                    {{form.sexo}}
                </div>
                <div class="hidden">
                    {{form.password2}}
                    {{form.password1}}
                </div>
            </div>
            {{form.cords}}
            <div class="mt-4">
                <button type="submit" id="myButton" class="block py-2 font-semibold text-xl text-white px-4 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full">SUBIR</button>
            </div>

        </div>              
    </form>
</div>

<!--PASSWORD INPUTS-->
<script src="{% static 'js/password_create_users.js' %}"></script>

<!--RECORTE DE IMAGENES-->
<script src="{% static 'js/recorte_imagenes/jquery.js' %}"></script>
<script src="{% static 'js/recorte_imagenes/index.js' %}"></script>
<script src="{% static 'js/recorte_imagenes/cropper.js' %}"></script>
{% endblock content %}