<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="flex justify-center items-center h-[80vh]">
    <div class="bg-white rounded-xl shadow-2xl max-w-4xl w-full p-8 transition-all duration-300 animate-fade-in">
        <div class="flex flex-col md:flex-row">
            <!-- Sección Izquierda -->
            <div class="md:w-1/3 text-center mb-8 md:mb-0">
                <button id="openModalBtn" class="relative group focus:outline-none rounded-full cursor-pointer">
                    <!-- Imagen del usuario -->
                    <img src="{{ request.user.customusermanager.photo.url }}"
                        alt="Foto de perfil"
                        class="rounded-full w-48 h-48 mx-auto border-4 border-[#ff7738] transition-transform duration-300 hover:scale-105 shadow-lg">

                    <!-- Capa sombreada con texto al hacer hover -->
                    <div class="absolute inset-0 flex items-center justify-center rounded-full
                                bg-black bg-opacity-40 opacity-0 group-hover:opacity-100
                                transition-opacity duration-300">
                        <span class="text-white text-lg font-semibold">Editar foto</span>
                    </div>
                </button>
                <h1 class="text-2xl font-bold text-[#ff7738] mb-2">{{ user.first_name }} {{ user.last_name }}</h1>
                <p class="text-gray-600">Gestor del Colegio: {{user.school}}</p>
                <div class="flex justify-center">
                    <button onclick="toggleModal()" class="myButton block py-2 font-semibold text-sm text-white px-4 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 transition duration-300 ease-in-out focus:border focus:mt-1">Editar perfil</button>
                </div>
            </div>

            <!-- Sección Derecha -->
            <div class="md:w-2/3 md:pl-8">
                <h2 class="text-xl font-semibold text-[#ff7738] mb-4">Información Personal</h2>
                <table class="text-gray-700 w-full">
                    <tbody class="divide-y">
                        <tr>
                            <td class="font-semibold py-2">Documento:</td>
                            <td>{{ user.document_type }} - {{ user.document_number }}</td>
                        </tr>

                        <tr>
                            <td class="font-semibold py-2">Correo:</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <td class="font-semibold py-2">Género:</td>
                            <td>{{ request.user.customusermanager.gender }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal (Ventana emergente) -->
<div id="editModal" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50 hidden">
    <div class="bg-white rounded-lg shadow-lg w-11/12 md:w-1/2 p-6">
        <h3 class="text-xl font-bold text-[#ff7738] mb-4">Editar Perfil</h3>    
        <form method="POST" action="{% url 'ViewProfile' %}" enctype="multipart/form-data">
            {% csrf_token %}

            {{ editProfile }}

            <div class="flex justify-end gap-2 mt-6">
                <button type=button onclick= "toggleModalPassword()" class="px-4 py-2 text-red-400 rounded hover:text-red-600">¿Deseas cambiar tu contraseña?</button>
                <button type="button" onclick="toggleModal()" class="myButton block py-2 font-semibold text-sm text-white px-4 rounded-lg bg-gray-500 border-l border-r border-t border-4 border-gray-800 transition duration-300 ease-in-out focus:border focus:mt-1">Cancelar</button>
                <button type="submit" class="myButton block py-2 font-semibold text-sm text-white px-4 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 transition duration-300 ease-in-out focus:border focus:mt-1">Guardar</button>
            </div>
        </form>
    </div>
</div>

<div id="editPassword" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50 hidden">
    <div class="bg-white rounded-lg shadow-lg w-11/12 md:w-1/2 p-6">
        <h3 class="text-xl font-bold text-[#ff7738] mb-4">Editar contraseña</h3>
        <form method="POST" action="{% url 'ChangePassword' %}" enctype="multipart/form-data">
            {% csrf_token %}
          
            {{ editPassword }}

            <div class="flex justify-end gap-2 mt-6">
                <button type="button" onclick="toggleModalPassword()" class="myButton block py-2 font-semibold text-sm text-white px-4 rounded-lg bg-gray-500 border-l border-r border-t border-4 border-gray-800 transition duration-300 ease-in-out focus:border focus:mt-1">Cancelar</button>
                <button type="submit" class="myButton block py-2 font-semibold text-sm text-white px-4 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 transition duration-300 ease-in-out focus:border focus:mt-1">Guardar</button>
            </div>
        </form>    
    </div>
</div>    

<script>
    function toggleModal() {
        const modal = document.getElementById('editModal');
        modal.classList.toggle('hidden');
    }

    function toggleModalPassword() {
        const modal = document.getElementById('editPassword');
        modal.classList.toggle('hidden');
    }
</script>

{% endblock content %}
