<!DOCTYPE html> <!--EVITAR INUSUALIDADADES EN EL NAVEGADOR-->
<head>
    <title>Crear nuevo colegio</title>
</head>
{% extends 'base.html' %}


{% block content %}
{% load static %}


<div class="p-8 rounded-lg shadow-lg">

<form method="post" action="{% url 'ActividadTipo' %}" enctype="multipart/form-data">

        <!--RESTO DEL FORMULARIO-->
        {% csrf_token %}
            <div>
                <div>
                    <label for="titulo" class="block  text-sm font-medium text-gray-900">Nombre del tipo de actividades</label>
                    {{form.titulo}}
                </div> 
                    
                <div class="">          
                    <label for="descripcion" class="block  text-sm font-medium text-gray-900">descripcion de la actividad</label>
                    {{form.descripcion}}
                </div>

                <div class="mt-4">
                    <button type="submit" id="myButton" class="block py-2 font-semibold text-sm text-white px-4 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full">SUBIR</button>
                </div>

            </div>
    </div>
</form>

<div class="grid gap-8 mb-6 lg:mb-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-6">
{% for actividad in actividades %}
    
        <div id="{{colegio.id}}" class="relative">
            <span class="absolute top-0 left-0 mt-4 ml-4 h-full w-full rounded bg-gray-700 "></span>
            <div class="relative items-center bg-gray-300 rounded-lg sm:flex p-4 block shadow-2xl duration-300 ease-in-out">
                <div class="block w-full">
                    <h5 class="font-mono font-bold text-gray-900 text-4xl text-center">{{actividad.titulo}}</h5>
                    <p class="font-mono font-bold text-gray-900 text-lg text-center">"{{actividad.descripcion}}"</p>  
                </div>
            </div>
        </div>
    
{% endfor %}
</div>

</div>
{% endblock content %}  