<!--MODAL PARA RECORTAR IMAGEN-->
<div class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <p>RECORTA TU FOTO</p>
        </div>
        <div class="modal-body">
            <div class="content-imagen-cropper">
                <img src="" alt="" class="img-cropper" id="img-cropper">
            </div>
            <div class="content-imagen-sample">
                <div src="" alt="" class="img-sample" id="img-croppered"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="block py-2 font-semibold text-sm text-white px-4 rounded-lg bg-orange-800 border-l border-r border-t border-4 border-black hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full" id="cut">Recortar</button>
            <button class="block py-2 font-semibold text-sm text-white px-4 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full" id="close">Cancelar</button>
        </div>
    </div>
</div>