<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión como alumno</title>
</head>
<body>
    <h1>Iniciar sesión como alumno</h1>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
    <form method="post" action="{% url 'LoginAlumno' %}">
        {% csrf_token %}
    {{ form.username.label_tag }}
    {{ form.username }}
    {{ form.password.label_tag }}
    {{ form.password }}
        <button type="submit">Iniciar sesión</button>
    </form>
</body>
</html>
