<!DOCTYPE html> <!--EVITAR INUSUALIDADADES EN EL NAVEGADOR-->
<head>
    <title>Inicio - Profesores</title>
</head>

{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="mx-auto max-w-screen-sm text-center">
    <h2 class="lg:py-2 text-4xl tracking-tight font-bold text-gray-900">Bienvenido {{request.user.first_name}}!</h2>
    <h3 class="text-xl tracking-tight font-bold text-gray-900 mb-8">Aqui tienes todos tus grados para el -- periodo del a;o!</h3>
</div>

{% for grade, court in grades %}

    {% if court.court_number %}

        <div class="p-8 mb-8">
                <div class="mx-auto max-w-screen-sm text-center">
                    <h2 class="lg:py-2 text-4xl tracking-tight font-bold text-gray-900 mb-2">Grado: {{ grade.grade_name }} ({{ grade.grade_number }})</h2>
                    <h3 class="text-2xl tracking-tight font-bold text-gray-900 mb-8">Corte: {{court.court_number}}</h3>
                </div>
            <div class="grid gap-12 mb-6 lg:mb-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4">
                {% for subject in grade.subjects.all %}
                    {% if subject in materias_profesor %}
                        <div>
                            {% if subject.teacher_1.pk == request.user.pk %}
                            <div class="relative">
                                <span class="absolute top-0 left-0 mt-6 ml-6 h-full w-full rounded bg-gray-700 "></span>
                                <div class="relative h-full items-center bg-gray-300 rounded-lg sm:flex p-4 block shadow-2xl">
                                    <div class="block w-full">
                                        <h5 class="font-mono font-bold text-gray-900 text-4xl text-center"><i class="fa-solid fa-1"></i> {{subject.name_1}}</h5>
                                        <p class="">{{ subject.description_1 }}</p>
                                        <img class="w-full p-4" src="{{ subject.photo.url }}" alt="Alumno">
                                        <div class="mt-2">
                                            <div class="w-full flex">
                                                <a type="button" href=" {% url 'CreateActividades' subject.pk %} " class="myButton font-semibold text-white px-2 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full py-2 text-center text-lg">
                                                    Crear Actividad
                                                </a>
                                            </div>
                                        </div>

                                        <!-- Mostrar actividades de la subject -->
                                        <div class="mt-4">
                                            <div class="relative mb-3 border-b border-solid cursor-pointer border-slate-100 items-center w-full font-semibold text-left transition-all ease-in" >
                                                <div class="flex" >
                                                    <a>
                                                            <h5 class="font-bold text-lg mb-4">Actividades Propuestas:</h5>
                                                    </a>
                                                    <button class="flex" data-collapse-target="collapse-{{subject.pk}}">
                                                        <i class="absolute right-0 pt-1 text-xs fa fa-plus group-open:opacity-0"></i>
                                                        <i class="absolute right-0 pt-1 text-xs opacity-0 fa fa-minus group-open:opacity-100"></i>
                                                    </button>
                                                </div>
                                                <div data-collapse="collapse-{{subject.pk}}" class="h-0 overflow-hidden transition-all duration-100 ease-in-out">
                                                    <div class="bg-gray-300">
                                                        {% for actividad in actividades %}
                                                            {% if actividad.subject == subject %}
                                                                {% if actividad.start_date > court.start_date and actividad.end_date < court.end_date %}
                                                                    <div class="flex justify-between items-center mb-4">
                                                                        {% if fecha_actual == actividad.end_date %}
                                                                            {% if hora_actual > actividad.end_time %}
                                                                                <div class="mb-2"><a href="{% url 'ViewActividades' actividad.pk %}"><i class="text-red-700 fa-solid fa-clock"></i> |</a>
                                                                                    <span class="font-bold">{{ actividad.name }} ({{actividad.percentage}}%):</span> 
                                                                                    {{ actividad.description }}
                                                                                </div>
                                                                            {%else%}
                                                                                <div class="mb-2"><a href="{% url 'ViewActividades' actividad.pk %}"><i class="text-orange-400 fa-solid fa-clock"></i> |</a>
                                                                                    <span class="font-bold">{{ actividad.name }} ({{actividad.percentage}}%):</span> 
                                                                                    {{ actividad.description }}
                                                                                </div>
                                                                            {%endif%}
                                                                        {% else %}
                                                                            {% if fecha_actual > actividad.end_date %}
                                                                                <div class="mb-2"><a href="{% url 'ViewActividades' actividad.pk %}"><i class="text-red-700 fa-solid fa-clock"></i> |</a>
                                                                                    <span class="font-bold">{{ actividad.name }} ({{actividad.percentage}}%):</span> 
                                                                                    {{ actividad.description }}
                                                                                </div>
                                                                            {%else%}
                                                                                <div class="mb-2"><a href="{% url 'ViewActividades' actividad.pk %}"><i class="text-green-700 fa-solid fa-clock"></i> |</a>
                                                                                    <span class="font-bold">{{ actividad.name }} ({{actividad.percentage}}%):</span> 
                                                                                    {{ actividad.description }}
                                                                                </div>
                                                                            {%endif%}
                                                                        {% endif %}
                                                                        
                                                                    </div>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                            {% else %}
                                <div id="{{colegio.id}}" class="relative">
                                    <span class="absolute top-0 left-0 mt-6 ml-6 h-full w-full rounded bg-gray-700 "></span>
                                    <div class="relative h-full items-center bg-gray-300 rounded-lg flex p-4  shadow-2xl">
                                        <div class="block w-full">
                                            <h5 class="font-mono font-bold text-gray-900 text-4xl text-center"><i class="fa-solid fa-2"></i>{{subject.name_1}}</h5>
                                            <p class="">{{ subject.description_1 }}</p>
                                            <img class="w-full p-4" src="{{ subject.photo.url }}" alt="Alumno">
                                            
                                            <div class="mt-2">
                                                <div class="w-full flex">
                                                    <a type="button" href="{% url 'CreateActividades' subject.pk %}" class="myButton font-semibold text-white px-2 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full py-2 text-center text-lg">
                                                        Crear Actividad
                                                    </a>
                                                </div>
                                            </div>

                                            <!-- Mostrar actividades de la subject -->
                                            <div class="mt-4">
                                                <div class="relative mb-3 border-b border-solid cursor-pointer border-slate-100 items-center w-full font-semibold text-left transition-all ease-in" >
                                                    <div class="flex" >
                                                        <a>
                                                                <h5 class="font-bold text-lg mb-4">Actividades Propuestas:</h5>
                                                        </a>
                                                        <button class="flex" data-collapse-target="collapse-{{subject.pk}}">
                                                            <i class="absolute right-0 pt-1 text-xs fa fa-plus group-open:opacity-0"></i>
                                                            <i class="absolute right-0 pt-1 text-xs opacity-0 fa fa-minus group-open:opacity-100"></i>
                                                        </button>
                                                    </div>
                                                    <div data-collapse="collapse-{{subject.pk}}" class="h-0 overflow-hidden transition-all duration-100 ease-in-out">
                                                        <div class="bg-gray-300">
                                                            {% for actividad in actividades %}
                                                                {% if actividad.subject == subject and actividad.author == request.user %}
                                                                <div class="flex justify-between items-center mb-4">
                                                                    {% if fecha_actual == actividad.end_date %}
                                                                        {% if hora_actual > actividad.end_time %}
                                                                            <div class="mb-2"><a href="{% url 'ViewActividades' actividad.pk %}"><i class="text-red-700 fa-solid fa-clock"></i> |</a>
                                                                                <span class="font-bold">{{ actividad.name }} ({{actividad.percentage}}%):</span> 
                                                                                {{ actividad.description }}
                                                                            </div>
                                                                        {%else%}
                                                                            <div class="mb-2"><a href="{% url 'ViewActividades' actividad.pk %}"><i class="text-orange-400 fa-solid fa-clock"></i> |</a>
                                                                                <span class="font-bold">{{ actividad.name }} ({{actividad.percentage}}%):</span> 
                                                                                {{ actividad.description }}
                                                                            </div>
                                                                        {%endif%}
                                                                    {% else %}
                                                                        {% if fecha_actual > actividad.end_date %}
                                                                            <div class="mb-2"><a href="{% url 'ViewActividades' actividad.pk %}"><i class="text-red-700 fa-solid fa-clock"></i> |</a>
                                                                                <span class="font-bold">{{ actividad.name }} ({{actividad.percentage}}%):</span> 
                                                                                {{ actividad.description }}
                                                                            </div>
                                                                        {%else%}
                                                                            <div class="mb-2"><a href="{% url 'ViewActividades' actividad.pk %}"><i class="text-green-700 fa-solid fa-clock"></i> |</a>
                                                                                <span class="font-bold">{{ actividad.name }} ({{actividad.percentage}}%):</span> 
                                                                                {{ actividad.description }}
                                                                            </div>
                                                                        {%endif%}
                                                                    {% endif %}
                                                                    
                                                                </div>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                    </div>
                {% endif %}
            {% endfor %}

            </div>
        </div>
    {% else %}

        <div class="mx-auto max-w-screen-sm text-center">
            <h2 class="lg:py-2 text-4xl tracking-tight font-bold text-gray-900 mb-2">Grado: {{ grade.grade_name }} ({{ grade.grade_number }})</h2>
        </div>
        <div class="flex flex-col justify-center items-center text-center bg-orange-100 border border-orange-300 text-orange-700 p-4 rounded-lg shadow-md">
            <div class="w-12 h-12 bg-orange-600 flex mask-icon" data-icon="{% static 'icons/information/error.svg' %}"></div>
            <p class="text-lg font-semibold">No hay cortes activos en este momento para este grado.</p>
            <p class="text-sm text-orange-600">Cuando se activen nuevos cortes, aparecerán aquí.</p>
        </div>

    {% endif %}
{% endfor %}


<script src="{% static 'icons/icons.js' %}"></script>
<link href="{% static 'icons/icons.css' %}" rel='stylesheet'/>

<!--Colapse script-->
<script src="{%static 'js/windows/collapse.js' %}"></script>

{% endblock content %}  
