
<!DOCTYPE html> <!--EVITAR INUSUALIDADADES EN EL NAVEGADOR-->
<head>
    <title>Inicio - Estudiantes</title>
</head>

{% extends 'base.html' %}

{% block content %}

<div>

    <div class="m-8 relative">
        <span class="absolute top-0 left-0 mt-6 ml-6 h-full w-[98%] rounded-xl bg-gray-700 "></span>
        <div class="relative w-[98%] bg-gray-300 text-center py-16 rounded-xl">
            <h2 class="text-4xl font-sans font-bold text-black m-4">{{frase}}</h2>
        </div>
    </div>

    <div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- otros campos del formulario -->
            <label for="archivos">Subir archivos:</label>
            <input type="file" id="archivos" name="archivos" multiple>
            <button type="submit">Enviar</button>
        </form>
    </div>
    

</div>

{% endblock content %}  
