<!DOCTYPE html>
<head>
    <title>Mirar materia</title>
</head>

{% extends 'base.html' %}

{% block content %}

<div class="my-6">
    <h5 class="text-5xl text-center font-bold text-black zoom-4 mb-8">Hola {{request.user.first_name}}!</h5>
</div>

<div>
    
    <div class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100">
        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg p-4" src="{{subject.picture1.url}}" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{subject.titulo1}}</h5>
            <p class="mb-3 font-normal text-gray-700">{{subject.descripcion1}}</p>
        </div>
    </div>

</div>

{% endblock content %}  
