
<!DOCTYPE html> <!--EVITAR INUSUALIDADADES EN EL NAVEGADOR-->
<head>
    <title>Inicio - Estudiantes</title>
</head>

{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="mx-auto max-w-screen-sm text-center">
    <h2 class="lg:py-2 text-4xl tracking-tight font-bold text-gray-900">ACTIVIDADES PARA {{grado.grade_name}} ({{grado.grade_number}})!</h2>
</div>

<div class="w-full p-4 border border-black rounded-xl">
    <h4 class="font-bold text-4xl mb-2">
        {{materia.name_1}} -
        {{actividad.name}} ({{actividad.percentage}}%)
    </h4>
    <hr>
    <time>
        {{actividad.start_date}} a las {{actividad.start_time}} <b>HASTA</b> {{actividad.end_date}} a las {{actividad.end_time}}
    </time>
    <hr>
    <p class="mt-4">
        {{actividad.description}}
    </p>

    <h5 class="text-2xl font-bold mt-4 mb-2"> DOCUMENTOS GUIAS: </h5>
    {%for file, ext in files %}
        <div class="ml-4">
                <div class="relative mb-3 border-b border-solid cursor-pointer border-slate-100 items-center w-full font-semibold text-left transition-all ease-in" >
                        <div class="flex" >
                            <a href="{{ file.file.url }}">
                                <i class="fa-solid fa-file mr-2"> </i> 
                                <span>
                                    {{file.name}}
                                </span>
                            </a>
                            <button class="flex" data-collapse-target="collapse-{{file.pk}}">
                            <i class="absolute right-0 pt-1 text-xs fa fa-plus group-open:opacity-0"></i>
                            <i class="absolute right-0 pt-1 text-xs opacity-0 fa fa-minus group-open:opacity-100"></i>
                        </button>
                    </div>
                    <div data-collapse="collapse-{{file.pk}}" class="h-0 overflow-hidden transition-all duration-100 ease-in-out">
                      <div class="p-2 text-sm leading-normal text-blue-gray-500/80 font-normal">
                        <div class="flex">
                            {% if ext == 'image' %}
                                <img src="{{ file.file.url }}" alt="image" width="300">
                            {% endif %}

                            {% if ext == 'pdf' %}
                                <iframe src="{{ file.file.url }}" width="100%" height="500px"></iframe>
                            {% endif %}

                            {% if ext == 'audio' %}
                              <audio controls>
                                <source src="{{ file.file.url }}" type="audio/mpeg">
                                Tu navegador no soporta el elemento de audio.
                              </audio>
                              
                            {% endif %}

                            {% if ext == 'video' %}
                                <video controls width="400">
                                    <source src="{{ file.file.url }}" type="video/mp4">
                                    Tu navegador no soporta el elemento de video.
                                </video>
                            {% endif %}

                            {% if ext == 'document' %}
                            imagen
                            {% endif %}

                            {% if ext == 'text' %}
                            imagen
                            {% endif %}

                            {% if ext == 'unknown' %}
                            imagen
                            {% endif %}
                        </div>
                        {{file.description}}
                      </div>
                    </div>
                </div>
        </div>
    {% endfor %}
    <span class="font-normal text-lg"> 
        Deseas agregar archivos guias?
    <a id="active_information" class="hover:cursor-pointer ml-2">
        <i class="fa-regular fa-square-plus"></i>
    </a>
    </span>
</div>

    <div class="flex ml-4">
        <div class="flex ml-4 relative">
            <div id="information" class="hidden fixed left-0 top-0 z-50 w-full h-screen bg-[#5858587c]">
                
                <div class="flex items-center justify-center min-h-screen">
                    <div class="bg-white border-2 border-black p-4 rounded-lg">
                        <a id="close_information" class="hover:cursor-pointer w-full flex justify-end items-center py-1 px-2 text-red-500 font-bold">
                            <p class="mr-4">cerrar</p>
                            <i class="fa-solid fa-circle-xmark"></i>
                        </a>
                        
                        <div class="mt-4">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class=" grid md:gap-6 lg:gap-6 mb-2 md:grid-cols-2">
                                    <div>
                                        <label for="nombre" class="block text-xl font-medium text-gray-900">Titulo de la actividad </label>
                                        {{form.name}}
                                    </div>
                                    <div>
                                        <label for="descripcion" class="block text-xl font-medium text-gray-900">descripcion</label>
                                        {{form.description}}
                                    </div>
                                    <div>
                                        <p class="block text-xl font-medium text-gray-900">Archivo: </p>
                                        <div class="flex items-center justify-center w-full">
                                            <label for="archivo" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50">
                                                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                                    <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                                                    </svg>
                                                    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                                    <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                                                </div>
                                                {{form.file}}
                                            </label>
                                        </div> 
                                
                                    </div>
                                </div>
                                <div class="p-6">
                                    <button type="submit" id="myButton" class="block py-2 font-semibold text-xl text-white px-4 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full">SUBIR</button>
                                </div>
                            </form>
                        </div>
                        
                </div>
                
            </div>
            
        </div>
        
    </div>
</div>

<div>
    <div class="grid gap-8 m-6 lg:mb-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        {% for author, respuestas, rating in respuestas_agrupadas %}  
    
            <div id="information{{author.pk}}" class="hidden fixed left-0 top-0 z-50 w-full h-screen bg-[#5858587c]">
                                
                <div class="flex items-center justify-center min-h-screen">
                    <div class="bg-white border-2 border-black p-4 rounded-lg">
                        <button onclick="closeVentana('information', '{{author.pk}}')" class="hover:cursor-pointer w-full flex justify-end items-center py-1 px-2 text-red-500">
                            <p class="mr-4">cerrar</p>
                            <i class="fa-solid fa-circle-xmark"></i>
                        </button>
                        <div class="mb-4">
                            {{StudentRatingForm}}
                            <span class="text-red-500">
                                {% if rating %}
                                    {{rating}}<span class="text-green-500">/100</span>
                                {% else %}
                                    <span class="text-green-500">
                                        <a href="#">Sin calificacion</a>
                                    </span>
                                {% endif %}
                            </span>
                        </div>
                    </div> 
                </div>
            </div>

            <div class="relative">
                <span class="absolute top-0 left-0 mt-2 ml-2 h-full w-full rounded bg-gray-700 "></span>
                <div class="relative h-full items-center bg-gray-300 rounded-lg sm:flex p-4 block shadow-2xl">
                    <div class="block w-full">
                        <h5 class="font-mono font-bold text-gray-900 text-4xl text-center">{{author.first_name}} {{author.last_name}}</h5>

                        <!-- Mostrar actividades respuestas del estuidiante... -->
                        <div class="mt-4">
                            <div class="relative mb-3 border-b border-solid cursor-pointer border-slate-100 items-center w-full font-semibold text-left transition-all ease-in" >
                                <div class="flex" >
                                    <a>
                                        <h5 class="font-bold text-lg mb-4">Respuestas: 
                                            <span class="text-red-500">
                                                {% if rating %}
                                                    {{rating}}<span class="text-green-500">/100</span>
                                                {% else %}
                                                    <span class="text-green-500">
                                                        <a href="#">Sin calificacion</a>
                                                    </span>
                                                {% endif %}
                                            </span>
                                        </h5>
                                    </a>
                                    <button class="flex" data-collapse-target="collapse-{{author.pk}}">
                                        <i class="absolute right-0 pt-1 text-xs fa fa-plus group-open:opacity-0"></i>
                                        <i class="absolute right-0 pt-1 text-xs opacity-0 fa fa-minus group-open:opacity-100"></i>
                                    </button>
                                </div>
                                <div data-collapse="collapse-{{author.pk}}" class="h-0 overflow-hidden transition-all duration-100 ease-in-out">
                                    <div class="bg-gray-300">
                                        {% for respuesta in respuestas %}
                                            <div class="flex justify-between items-center mb-4">
                                                {% if final_date == respuesta.delivery_date %}
                                                    {% if final_hour < respuesta.delivery_time %}
                                                        <div class="mb-2"><a href="{% url 'ViewActividades' respuesta.pk %}"><i class="text-red-700 fa-solid fa-clock"></i> |</a>
                                                            <span class="font-bold">{{ respuesta.answer }}:</span> 
                                                            {{ respuesta.description }}
                                                        </div>
                                                    {%else%}
                                                        <div class="mb-2"><a href="{% url 'ViewActividades' respuesta.pk %}"><i class="text-orange-500 fa-solid fa-clock"></i> |</a>
                                                            <span class="font-bold">{{ respuesta.answer }}:</span> 
                                                            {{ respuesta.description }}
                                                        </div>
                                                    {%endif%}
                                                {% else %}
                                                    {% if final_date < respuesta.delivery_date %}
                                                        <div class="mb-2"><a href="{% url 'ViewActividades' respuesta.pk %}"><i class="text-red-700 fa-solid fa-clock"></i> |</a>
                                                            <span class="font-bold">{{ respuesta.answer }}:</span> 
                                                            {{ respuesta.description }}
                                                        </div>
                                                    {%else%}
                                                        <div class="mb-2"><a href="{% url 'ViewActividades' respuesta.pk %}"><i class="text-green-700 fa-solid fa-clock"></i> |</a>
                                                            <span class="font-bold">{{ respuesta.answer }}:</span> 
                                                            {{ respuesta.description }}
                                                        </div>
                                                    {%endif%}
                                                {% endif %}
                                                
                                            </div>
                                        {% endfor %}
                                    </div>
                            </div>
                            <button onclick="showVentana('information', '{{author.pk}}')" type="button" id="active_information" class="myButton font-semibold text-white px-2 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 py-2 text-center text-lg w-full">Asignar nota</button>
                        </div> 
                    </div>
                </div>
            </div>
            </div>
                    
        {% endfor %}
    </div>
</div>


<script src="{% static 'js/windows/modal_for.js' %}"></script>


<!--Colapse script-->
<script src="{%static 'js/windows/collapse.js' %}"></script>
{% endblock content %}  
