
<!DOCTYPE html> <!--EVITAR INUSUALIDADADES EN EL NAVEGADOR-->
<head>
    <title>Inicio - Estudiantes</title>
</head>

{% extends 'base.html' %}

{% block content %}
<div id="message-container" class="bg-green-400"></div>
{% load static %}
<div class="mx-auto max-w-screen-sm text-center">
    <h2 class="lg:py-2 text-4xl tracking-tight font-bold text-gray-900">ACTIVIDADES PARA {{grado.grade_name}} ({{grado.grade_number}})!</h2>
</div>


<div id="informationRatings" class="hidden fixed left-0 top-0 z-50 w-full h-screen bg-[#5858587c]">
                                
    <div class="flex items-center justify-center min-h-screen m-2">
        <div class="bg-white border-2 border-black p-4 rounded-lg">
            <button onclick="closeVentana('information', 'Ratings')" class="hover:cursor-pointer w-full flex justify-end items-center py-1 px-2 text-red-500">
                <p class="mr-4">cerrar</p>
                <i class="fa-solid fa-circle-xmark"></i>
            </button>
            <div class="mb-4">
                <div class="bg-white shadow-md rounded-md overflow-hidden w-full">
                    <div class="bg-orange-100 py-2 px-4">
                        <h2 class="text-xl font-semibold text-gray-800">Calificaciones</h2>
                    </div>
                    
                    <div class="relative w-full transition-all bg-orange-100 p-2 ">
                        <input
                          type="text"
                          placeholder="Buscar..."
                          id="searchInput"
                          class="w-full py-2 pl-10 pr-4 text-gray-700 bg-white border rounded-full outline-none transition-all border-gray-300"
                        />
                        <div class="absolute inset-y-0 left-0 flex items-center pl-5">
                          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-400 transition-all" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                          </svg>
                        </div>
                    </div>
            
                    <ul class="divide-y divide-gray-200">
                        <!--Notice!-->
                        {% for author, respuestas, rating in respuestas_agrupadas %}  
                            <li class="flex items-center py-4 px-6" id="Student{{author.pk}}">
                                <span class="text-gray-700 text-lg font-medium mr-4">{{ forloop.counter }}.</span>
                                <img class="w-12 h-12 rounded-full object-cover mr-4" src="{{ author.customuserstudent.photo.url }}" alt="User avatar">
                                
                                <form id="ratingForm{{author.pk}}" action="{% url 'RatingStudentActivities' author.pk actividad.pk %}" method="post">
                                    {% csrf_token %}
                                    <div class="flex-1">
                                        <h3 class="text-lg font-medium text-gray-800">{{ author.first_name }} {{ author.last_name }}
                                                
                                                    <span>(<span id="ratingUp{{author.pk}}">
                                                        {% if rating %}
                                                            {{ rating }}
                                                        {% else %}
                                                            Sin calificación
                                                        {% endif %}
                                                    </span>/100)</span>
                                                
                                        </h3>
                                        <p class="text-gray-600 text-base">
                                            <div id="points{{author.pk}}">
                                                {% if rating %}
                                                    <span id="rating{{author.pk}}">{{ rating }}</span> puntos
                                                {% else %}
                                                    <span id="rating{{author.pk}}" class="text-red-500">
                                                        <span>Sin calificación</span>
                                                    </span>
                                                {% endif %}
                                            </div>
                                        </p>
                                        <div id="message{{author.pk}}" class="editable inline">
                                            <span class="text-sm">* Escribe un nuevo mensaje</span>
                                            <div id="message{{author.pk}}">
                                                {{StudentRatingForm.message}}
                                            </div>
                                        </div>
                                            
                                        {{StudentRatingForm.rating}}
                                        <input type="number" min="0" max="100" id="editPoints{{author.pk}}" class="editable border rounded-lg px-2 py-1 m-2" placeholder="?/100">

                                        <button id="saveButton{{author.pk}}" class="save-button myButton font-semibold text-white px-2 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 py-2 text-center text-lg m-2" 
                                        onclick="savePoints('{{ author.pk }}', event)" type="submit">Guardar</button>
                                        <input id="url{{author.pk}}" class="hidden" type="text" value="{% url 'RatingStudentActivities' author.pk actividad.pk %}">
                                        <input type="hidden" id="token{{author.pk}}" value="{{ csrf_token }}">
                                    </div>
                                </form>
                                    <button id="editButton{{author.pk}}" class="ml-auto" onclick="editPoints('{{ author.pk }}')">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000">
                                            <path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/>
                                        </svg>
                                    </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div> 
    </div>
</div>

<style>
    .editable {
            display: none;
        }
        .editable.active {
            display: block;
        }
        .save-button {
            display: none;
        }
        .save-button.active {
            display: block;
        }
</style>
<script>
    // reescribir inputs
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll('input[id^="editPoints"]').forEach(input => {
            input.addEventListener("input", function() {
                let value = this.value;
                document.querySelectorAll('input[id="rating"]').forEach(ratingInput => {
                    ratingInput.value = value; // Actualizar todos los inputs "rating"
                });
            });
        });
    });


    function editPoints(userId) {
        let editPointsInput = document.getElementById(`editPoints${userId}`);
        let points = document.getElementById(`points${userId}`);
        let saveButton = document.getElementById(`saveButton${userId}`);
        let message = document.getElementById(`message${userId}`);
        let pointsDisplay = document.getElementById(`rating${userId}`);
        let pointsDisplay2 = document.getElementById(`ratingUp${userId}`);

        console.log(editPointsInput);

        // replace span
        pointsDisplay.innerText = editPointsInput.value;
        pointsDisplay2.innerText = editPointsInput.value;


        editPointsInput.classList.toggle('active');
        saveButton.classList.toggle('active');
        points.classList.toggle('hidden');

        message.classList.toggle('editable');
        

        editPointsInput.focus();
    }

    function savePoints(userId, event) {
        event.preventDefault(); // Evitar recarga de página

        let editPointsInput = document.getElementById(`editPoints${userId}`);
        let messageInput = document.querySelector(`#message${userId} textarea`); // Capturar el mensaje
        let saveButton = document.getElementById(`saveButton${userId}`);
        let urlInput = document.getElementById(`url${userId}`);
        let csrfToken = document.getElementById(`token${userId}`);
        let form = document.getElementById(`ratingForm${userId}`);
        console.log(form)

        if (!urlInput) {
            console.error("URL no encontrada para el usuario", userId);
            return;
        }

        let url = urlInput.value;

        fetch(url, {
            method: 'POST',
            headers: {
                "X-CSRFToken": csrfToken.value,
            },
            body: new FormData(form)
        })
        .then(function(response) {
            console.log(response); // Ver la respuesta completa
            if (response.ok) {
                return response.json();
            } else {
                return response.text().then(text => { 
                    throw new Error(`Error en la solicitud: ${text}`);
                });
            }
        })
        .then(function(data) {
            console.log(data);
            if (data.status == 0){
                alert("OYE! La nota maxima es de 100 puntos, atento.");
            }else{
                editPoints(userId);
                showMessage('¡Nota actualizada!')
            }
        })
        .catch(function(error) {
            console.error("Error en el fetch:", error); // Mostrar el error en consola
            alert("Error en la solicitud: " + error.message);
        });
    }


</script>

<div class="w-full p-4 border border-black rounded-xl">
    <h4 class="font-bold text-4xl mb-2 text-center">
        {{materia.name_1}} -
        {{actividad.name}} ({{actividad.percentage}}%)
    </h4>
    <div class="text-center mb-4">
        <button onclick="showVentana('information', 'Ratings')" type="button" id="active_information" class="myButton font-semibold text-white px-2 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 py-2 text-center text-lg inline-flex">
            <div class="w-6 h-6 bg-white flex mask-icon mr-1" data-icon="{% static 'icons/information/create.svg' %}"></div> 
            Asignar notas
        </button>

        <button onclick="showVentana('information', 'Ratings')" type="button" id="active_information" class="myButton font-semibold text-white px-2 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 py-2 text-center text-lg inline-flex">
            <div class="w-6 h-6 bg-white flex mask-icon mr-1" data-icon="{% static 'icons/information/pencil.svg' %}"></div> 
            Editar actividad
        </button>
    </div>
    
    <hr>
    <time>
        {{actividad.start_date}} a las {{actividad.start_time}} <b>HASTA</b> {{actividad.end_date}} a las {{actividad.end_time}}
    </time>
    <hr>
    <p class="mt-4">
        {{actividad.description}}
    </p>

    <h5 class="text-2xl font-bold mt-4 mb-2"> DOCUMENTOS GUIAS: </h5>
    {%for file, ext in files %}
        <div class="ml-4">
                <div class="relative mb-3 border-b border-solid cursor-pointer border-slate-100 items-center w-full font-semibold text-left transition-all ease-in" >
                        <div class="flex" >
                            <a href="{{ file.file.url }}">
                                <i class="fa-solid fa-file mr-2"> </i> 
                                <span>
                                    {{file.name}}
                                </span>
                            </a>
                            <button class="flex" data-collapse-target="collapse-{{file.pk}}">
                            <i class="absolute right-0 pt-1 text-xs fa fa-plus group-open:opacity-0"></i>
                            <i class="absolute right-0 pt-1 text-xs opacity-0 fa fa-minus group-open:opacity-100"></i>
                        </button>
                    </div>
                    <div data-collapse="collapse-{{file.pk}}" class="h-0 overflow-hidden transition-all duration-100 ease-in-out">
                      <div class="p-2 text-sm leading-normal text-blue-gray-500/80 font-normal">
                        <div class="flex">
                            {% if ext == 'image' %}
                                <img src="{{ file.file.url }}" alt="image" width="300">
                            {% endif %}

                            {% if ext == 'pdf' %}
                                <iframe src="{{ file.file.url }}" width="100%" height="500px"></iframe>
                            {% endif %}

                            {% if ext == 'audio' %}
                              <audio controls>
                                <source src="{{ file.file.url }}" type="audio/mpeg">
                                Tu navegador no soporta el elemento de audio.
                              </audio>
                              
                            {% endif %}

                            {% if ext == 'video' %}
                                <video controls width="400">
                                    <source src="{{ file.file.url }}" type="video/mp4">
                                    Tu navegador no soporta el elemento de video.
                                </video>
                            {% endif %}

                            {% if ext == 'document' %}
                            imagen
                            {% endif %}

                            {% if ext == 'text' %}
                            imagen
                            {% endif %}

                            {% if ext == 'unknown' %}
                            imagen
                            {% endif %}
                        </div>
                        {{file.description}}
                      </div>
                    </div>
                </div>
        </div>
    {% endfor %}
    <span class="font-normal text-lg"> 
        Deseas agregar archivos guias?
    <a onclick="showVentana('information', 'Files')" class="hover:cursor-pointer ml-2">
        <i class="fa-regular fa-square-plus"></i>
    </a>
    </span>
</div>

    <div class="flex ml-4">
        <div class="flex ml-4 relative">
            <div id="informationFiles" class="hidden fixed left-0 top-0 z-50 w-full h-screen bg-[#5858587c]">
                
                <div class="flex items-center justify-center min-h-screen">
                    <div class="bg-white border-2 border-black p-4 rounded-lg">
                        <a onclick="closeVentana('information', 'Files')" class="hover:cursor-pointer w-full flex justify-end items-center py-1 px-2 text-red-500 font-bold">
                            <p class="mr-4">cerrar</p>
                            <i class="fa-solid fa-circle-xmark"></i>
                        </a>
                        
                        <div class="mt-4">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class=" grid md:gap-6 lg:gap-6 mb-2 md:grid-cols-2">
                                    <div>
                                        <label for="nombre" class="block text-xl font-medium text-gray-900">Titulo de la actividad </label>
                                        {{form.name}}
                                    </div>
                                    <div>
                                        <label for="descripcion" class="block text-xl font-medium text-gray-900">descripcion</label>
                                        {{form.description}}
                                    </div>
                                    <div>
                                        <p class="block text-xl font-medium text-gray-900">Archivo: </p>
                                        <div class="flex items-center justify-center w-full">
                                            <label for="archivo" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50">
                                                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                                    <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                                                    </svg>
                                                    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                                    <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                                                </div>
                                                {{form.file}}
                                            </label>
                                        </div> 
                                
                                    </div>
                                </div>
                                <div class="p-6">
                                    <button type="submit" id="myButton" class="block py-2 font-semibold text-xl text-white px-4 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 w-full">SUBIR</button>
                                </div>
                            </form>
                        </div>
                        
                </div>
                
            </div>
            
        </div>
        
    </div>
</div>

<div>
    <div class="grid gap-8 m-6 lg:mb-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        {% for author, respuestas, rating in respuestas_agrupadas %}  
    
            <div id="information{{author.pk}}" class="hidden fixed left-0 top-0 z-50 w-full h-screen bg-[#5858587c]">
                                
                <div class="flex items-center justify-center min-h-screen">
                    <div class="bg-white border-2 border-black p-4 rounded-lg">
                        <button onclick="closeVentana('information', '{{author.pk}}')" class="hover:cursor-pointer w-full flex justify-end items-center py-1 px-2 text-red-500">
                            <p class="mr-4">cerrar</p>
                            <i class="fa-solid fa-circle-xmark"></i>
                        </button>
                        <div class="mb-4">
                            {{StudentRatingForm}}
                            <span class="text-red-500">
                                {% if rating %}
                                    {{rating}}<span class="text-green-500">/100</span>
                                {% else %}
                                    <span class="text-green-500">
                                        <a href="#">Sin calificacion</a>
                                    </span>
                                {% endif %}
                            </span>
                        </div>
                    </div> 
                </div>
            </div>

            <div class="relative">
                <span class="absolute top-0 left-0 mt-2 ml-2 h-full w-full rounded bg-gray-700 "></span>
                <div class="relative h-full items-center bg-gray-300 rounded-lg sm:flex p-4 block shadow-2xl">
                    <div class="block w-full">
                        <h5 class="font-mono font-bold text-gray-900 text-4xl text-center">{{author.first_name}} {{author.last_name}}</h5>

                        <!-- Mostrar actividades respuestas del estuidiante... -->
                        <div class="mt-4">
                            <div class="relative mb-3 border-b border-solid cursor-pointer border-slate-100 items-center w-full font-semibold text-left transition-all ease-in" >
                                <div class="flex" >
                                    <a>
                                        <h5 class="font-bold text-lg mb-4">Respuestas: 
                                            <span class="text-red-500">
                                                {% if rating %}
                                                    {{rating}}<span class="text-green-500">/100</span>
                                                {% else %}
                                                    <span class="text-green-500">
                                                        <a href="#">Sin calificacion</a>
                                                    </span>
                                                {% endif %}
                                            </span>
                                        </h5>
                                    </a>
                                    <button class="flex" data-collapse-target="collapse-{{author.pk}}">
                                        <i class="absolute right-0 pt-1 text-xs fa fa-plus group-open:opacity-0"></i>
                                        <i class="absolute right-0 pt-1 text-xs opacity-0 fa fa-minus group-open:opacity-100"></i>
                                    </button>
                                </div>
                                <div data-collapse="collapse-{{author.pk}}" class="h-0 overflow-hidden transition-all duration-100 ease-in-out">
                                    <div class="bg-gray-300">
                                        {% for respuesta in respuestas %}
                                            <div class="flex justify-between items-center mb-4">
                                                {% if final_date == respuesta.delivery_date %}
                                                    {% if final_hour < respuesta.delivery_time %}
                                                        <div class="mb-2"><a href="{% url 'ViewActividades' respuesta.pk %}"><i class="text-red-700 fa-solid fa-clock"></i> |</a>
                                                            <span class="font-bold">{{ respuesta.answer }}:</span> 
                                                            {{ respuesta.description }}
                                                        </div>
                                                    {%else%}
                                                        <div class="mb-2"><a href="{% url 'ViewActividades' respuesta.pk %}"><i class="text-orange-500 fa-solid fa-clock"></i> |</a>
                                                            <span class="font-bold">{{ respuesta.answer }}:</span> 
                                                            {{ respuesta.description }}
                                                        </div>
                                                    {%endif%}
                                                {% else %}
                                                    {% if final_date < respuesta.delivery_date %}
                                                        <div class="mb-2"><a href="{% url 'ViewActividades' respuesta.pk %}"><i class="text-red-700 fa-solid fa-clock"></i> |</a>
                                                            <span class="font-bold">{{ respuesta.answer }}:</span> 
                                                            {{ respuesta.description }}
                                                        </div>
                                                    {%else%}
                                                        <div class="mb-2"><a href="{% url 'ViewActividades' respuesta.pk %}"><i class="text-green-700 fa-solid fa-clock"></i> |</a>
                                                            <span class="font-bold">{{ respuesta.answer }}:</span> 
                                                            {{ respuesta.description }}
                                                        </div>
                                                    {%endif%}
                                                {% endif %}
                                                
                                            </div>
                                        {% endfor %}
                                    </div>
                            </div>
                            <button onclick="showVentana('information', '{{author.pk}}')" type="button" id="active_information" class="myButton font-semibold text-white px-2 rounded-lg bg-orange-600 border-l border-r border-t border-4 border-orange-800 hover:scale-105 transition duration-300 ease-in-out focus:border focus:mt-1 py-2 text-center text-lg w-full">
                                Asignar nota
                            </button>
                        </div> 
                    </div>
                </div>
            </div>
            </div>
                    
        {% endfor %}
    </div>
</div>

{% for i in students %}
    {{i.id}}
{% endfor %}


<!-- ANIMATIONS NOTICE -->
<script src="{% static 'js/windows/modal_for.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/animations/notice.css' %}">


<!--Colapse script-->
<script src="{%static 'js/windows/collapse.js' %}"></script>

<script src="{%static 'js/windows/notice.js' %}"></script>
{% endblock content %}  
